node_modules/*
!/node_modules/backbone/
node_modules/backbone/node_modules/*
!/node_modules/superlogin/
node_modules/superlogin/node_modules/*
!/node_modules/socket.io/
node_modules/socket.io/node_modules/*
!/node_modules/socket.io-parser/
node_modules/socket.io-parser/node_modules/*
!/node_modules/socket.io-client/
node_modules/socket.io-client/node_modules/*
!/node_modules/socket.io-adapter/
node_modules/socket.io-adapter/node_modules/*
!/node_modules/couch-pwd/
node_modules/couch-pwd/node_modules/*
!/node_modules/jquery-nearest/
node_modules/jquery-nearest/node_modules/*
dist
.sass-cache
.tmp
_wip
*.ppk
*.nginxConfig
wip.txt
*.sh
*.env
*.htaccess
