/*=======================*/
/* ANIMATIONS
/*=======================*/
@keyframes extendText {
  0% { opacity:0; letter-spacing: 0; }
  10%, 20% { opacity:1; }
  75%, 100% { opacity:0; letter-spacing: 0.75em; }
}

@keyframes opacityTween {
  0% { opacity:0; }
  10%, 20% { opacity:1; }
  75%, 100% { opacity:0; }
}

@keyframes cursorMove {
  0%, 100% { transform: translateX(0); }
  50%     { transform: translateX(0.5em); }
}
