/*=======================*/
/* VARIABLES
/*=======================*/
$uiAssetsPath      : "../assets/img/ui/";
$fontAssetsPath    : "../assets/fonts/";

$globalPadding     : 50px;
$btnSize_big       : 60px;
$contentHeight     : 270px;

$boardWidth        : 540px;
$boardHeight       : 675px;
$cardWidth         : 150px;
$cardHeight        : 190px;
$albumCardWidth    : 180px;
$albumCardsPerLine : 9;

$color_darkGrey    : #666;
$color_midGrey     : #CCC;
$color_lightGrey   : #E5E6DE;
$color_red         : rgba(235, 53, 71, 1);
$color_blue        : rgba(40, 51, 120, 1);
$color_lightBlue   : #6d87fa;
$color_midBlue     : #5377fb;

$fontSize_UI       : 24px;
$fontSize_score    : 96px;
$fontSize_btn      : 16px;
$fontSize_title    : 60px;
$fontSize_overlay  : 72px;
