/*=======================*/
/* LOADING SCREEN
/*=======================*/
#screen_loading {
    z-index: 99999;
}

.loading_bg {
    @include fullSizeAbs();
    background: url(#{ $uiAssetsPath + "bg.jpg" }) 50% 50% no-repeat;
    background-size: cover;
}

.loading_content {
    @include fullSizeAbs();
    background: #000;
    mix-blend-mode: multiply;
    pointer-events: none;
}

.loading_wrapper {
    @include fullSizeAbs();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading_logo {
    @extend %smallLogo;
    width: 285px;
    height: 220px;

    &-svg {
        @include remainingSpace();
        height: 100%;
        background: url("../assets/svg/ui/logoNoText.svg") no-repeat 50% 50%;
    }
}

.loading_text {
    font-size: 24px;
    margin-top: 1em;
    @include animation("extendText 4s ease-in-out infinite");
}

.loading_line {
    background: #FFF;
    width: 0;
    height: 1px;
    position: fixed;
    left:0;
    top: calc(50% + 6px);

    @include transform("translate3d(0, 0, 0)");
    @include transition("width 1s ease-out");
}
