@import url("./reset.css");
@import url("./socicon.css");

/*=======================*/
/* VARIABLES, FUNCTIONS
/*=======================*/
$uiAssetsPath   : "../assets/img/ui/";
$fontAssetsPath : "../assets/fonts/";

$globalPadding  : 50px;
$btnSize_big    : 60px;

$boardWidth     : 540px;
$boardHeight    : 675px;
$cardWidth      : 150px;
$cardHeight     : 190px;

$color_darkGrey  : #3d4043;
$color_red       : rgba(235, 53, 71, 1);
$color_blue      : rgba(40, 51, 120, 1);
$color_lightBlue : #6d87fa;

$fontSize_UI      : 24px;
$fontSize_score   : 96px;
$fontSize_btn     : 16px;
$fontSize_title   : 60px;
$fontSize_overlay : 72px;


/*=======================*/
/* MIXINS
/*=======================*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  /*@-moz-keyframes #{$animation-name} {
    @content;
  }  */
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  /*@-o-keyframes #{$animation-name} {
    @content;
  }*/ 
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  //-moz-animation: #{$str};
  -ms-animation: #{$str};
  //-o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  //-moz-transform: #{$str};
  -ms-transform: #{$str};
  //-o-transform: #{$str};
  transform: #{$str};
}

@mixin transition($str) {
  -webkit-transition: -webkit-#{$str};
  //-moz-transition: -moz-#{$str};
  -ms-transition: -ms-#{$str};
  //-o-transition: -o-#{$str};
  transition: #{$str};
}

@mixin fullSizeAbs ($content: false) {
    @if $content { content: $content; }
    width: 100%;
    height: 100%;
    position: absolute;
}

@mixin remainingSpace () {
    flex:1;
    position: relative;
}


/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
    font-family: "AvantGarde LT";
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Medium.eot" });
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Medium.eot?#iefix" }) format("embedded-opentype"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Medium.woff2" }) format("woff2"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Medium.woff" }) format("woff"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Medium.ttf" }) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "AvantGarde LT";
    src: url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.eot" });
    src: url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.eot?#iefix" }) format("embedded-opentype"),
        url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.woff2" }) format("woff2"),
        url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.woff" }) format("woff"),
        url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.ttf" }) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "AvantGarde LT";
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Bold.eot"});
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Bold.eot?#iefix"}) format("embedded-opentype"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Bold.woff2"}) format("woff2"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Bold.woff"}) format("woff"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Bold.ttf"}) format("truetype");
    font-weight: 700;
    font-style: normal;
}


/*=======================*/
/* 12 COLUMNS RESPONSIVE GRID
/*=======================*/
.row { display:flex; }
.col_1 { flex-basis: 8.33333333%; }
.col_2 { flex-basis: 16.66666667%; }
.col_3 { flex-basis: 25%; }
.col_4 { flex-basis: 33.33333333%; }
.col_5 { flex-basis: 41.66666667%; }
.col_6 { flex-basis: 50%; }
.col_7 { flex-basis: 58.33333333%; }
.col_8 { flex-basis: 66.66666667%; }
.col_9 { flex-basis: 75%; }
.col_10 { flex-basis: 83.33333333%; }
.col_11 { flex-basis: 91.66666667%; }
.col_12 { flex-basis: 100%; }


/*=======================*/
/* GENERAL RULES
/*=======================*/
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.75); 
}

* {
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    cursor: inherit;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html {
    background: #000;
    font-family: "AvantGarde LT", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color:#FFF;
}

body {
    transform-origin: 50%;
    width: 100%;
    height: 100%;
    cursor:default;
}

a {
    color:inherit;
    text-decoration: none;
    cursor:auto;
}

hr {
    position: relative;
    width: calc(100% - 17.5px);
    margin-left: 7.5px;
}

hr:after, hr:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px #FFF solid;
    transform: rotate(45deg);
    top: -2.5px;
}

hr:after { left: -7.5px; }
hr:before { right: -8.5px; }

h1 {
    font-size: $fontSize_title;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 0px 0;
    padding:0;
    cursor: pointer;
    height:100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
}
input[type=range]::-webkit-slider-thumb {
    height: 100%;
    width: 2px;
    background: #FFF;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 100%;
    background: transparent;
}
input[type=range]::-moz-range-thumb {
    height: 100%;
    width: 2px;
    background: #FFF;
    border-radius:0;
    border:none;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 100%;
    background: transparent;
}
input[type=range]::-ms-thumb {
    height: 100%;
    width: 2px;
    background: #FFF;
    border-radius:0;
    border:none;
}

label {
    position: relative;
    width: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#app {
    @include fullSizeAbs();

    &.useGamepad * {
        cursor: none;
    }
}

.cursor {
    position: fixed;
    width: 35px;
    height: 25px;
    background: url(#{ $uiAssetsPath + "cursor.png"}) no-repeat;
    z-index: 99999;
    pointer-events: none;

    @include animation("cursorMove 1s ease-in-out infinite");
}

.color-darkGrey     { color: $color_darkGrey; }
.color-lightBlue    { color: $color_lightBlue; }
.weight-medium      { font-weight: 500; }
.weight-bold        { font-weight: 700; }
.flex-justify-sb    { justify-content: space-between; }
.flex-justify-start { justify-content: flex-start; }
.fontsize-small     { font-size: .75em; margin-right: .5em; }

@media (orientation: portrait) {
    body {
        background: #000 url(#{ $uiAssetsPath + "rotateDevice.png"}) no-repeat 50% 50%;
        background-size: 30%;
    }

    #app { visibility: hidden; }
}


/*=======================*/
/* COMPONENTS
/*=======================*/
/* CONTAINERS ------------*/
.screen {
    @include fullSizeAbs();
    top:0;
    left:0;
}

%header {
    height: 300px;
    width: 100%;
    padding: $globalPadding;
    background: rgba(0, 0, 0, 0.95);
    position: relative;
    z-index: 1;
    display: flex;

    &:before {
        @include fullSizeAbs("");
        top: 0;
        left: 0;
        background: url(#{ $uiAssetsPath + "headerPattern.jpg" });
        opacity: .25;
        z-index: -1;
    }

    &-leftCol {
        width: auto;
    }

    &-rightCol {
        @include remainingSpace();
        display: flex;
        justify-content: flex-end;
    }

    &-help {
        text-transform: none;
        position: absolute;
        left: 0;
        padding: 0 $globalPadding;
        margin-top: 1em;
        line-height: 1.25em;
    }
}

%content {
    width: 100%;
    height: calc(100% - 490px);
    position: relative;
    padding: $globalPadding;
}

%content-inner {
    height: 270px;
    top: calc(50% - 270px / 2);
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 $globalPadding;
}

%content-prompt {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: $globalPadding;
    padding: 0 $globalPadding;
    background: rgba(0, 0, 0, 0.5);
}

%content-promptChoice {
    @extend %content-prompt;
    display: flex;
    align-items: center;

    &-choice {
        display: flex;
        align-items: center;
        margin-right: 1em;
        height: 100%;

        &-element {
            @extend %btn-rect;
            position: relative;
            display: inline-block;
            margin-right: .5em;
        }
    }
}

/* BUTTONS ------------*/
%btn {
    cursor: pointer;
    font-size: $fontSize_btn;
}

%btn-rect {
    @extend %btn;

    border:1px solid #FFF;
    overflow:hidden;
    padding: .3em;

    &:after {
        @include fullSizeAbs("");
        background: #FFF;
        left:0;
        top:-100%;
        pointer-events:none;

        @include transition("top .15s ease-in");
        @include transform("translate3d(0, 0, 0)");
    }

    &:hover, &.is--active, &.is--hover {
        background: #FFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        mix-blend-mode: hard-light;

        &:after {
            top:0;
            mix-blend-mode: exclusion;
        }
    }
}

%btn-diamond {
    @extend %btn;

    &-hoverFX {
        @include fullSizeAbs();
        @include transform("rotate(45deg)");
        border: 1px solid #FFF;
        overflow: hidden;

        &:after {
            @include fullSizeAbs("");
            top:200%;
            left:200%;

            @include transition("all .2s .2s ease-in");
        }
    }

    &:hover, &.is--hover {
        & %btn-diamond-hoverFX {
            &:after {
                background: #FFF;
                top:0;
                left:0;

                @include transition("all .2s ease-out");
            }
        }
    }
}

%btn-diamond-text {
    @extend %btn-diamond;
    width: $btnSize_big;
    height: $btnSize_big;

    &:before {
        @include fullSizeAbs("");
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0),
                    0px 0px 10px 0 rgba(0, 0, 0, 0);

        @include transform("scale(0.85) rotate(45deg)");
        @include transition("box-shadow .2s ease-in");
    }

    &:after {
        content:"";
        width:100px;
        text-align: center;
        position: absolute;
        left: calc(50% - 50px);
        bottom: -3em;
        height: 1em;
        transform: translate3d(0,0,0);

        @include transition("letter-spacing .15s .1s, text-indent .15s .1s");
    }

    &:hover, &.is--hover {
        &:before {
            box-shadow: -25px 25px 0 0 rgba(0, 0, 0, .25),
                        25px -25px 0 0 rgba(0, 0, 0, .25);

            @include transition("box-shadow .2s .1s ease-out");
        }

        &:after {
            letter-spacing: 0.25em;
            text-indent: 0.25em;
        }
    }

    &-hoverFX {
        @extend %btn-diamond-hoverFX;
    }
}

%arrow {
    @include fullSizeAbs();
    background: url(#{ $uiAssetsPath + "arrow.png"}) no-repeat 50%;
}

.arrow-up, .arrow-right, .arrow-down, .arrow-left {
    @extend %arrow;
}

.arrow-up   { @include transform("rotate(-90deg)"); }
.arrow-down { @include transform("rotate(90deg)"); }
.arrow-left { @include transform("rotate(180deg)"); }

%btn-diamond:hover %arrow, %btn-diamond.is--hover %arrow {
    mix-blend-mode: exclusion;
}

/* CARDS --------------*/
.card {
    cursor: pointer;
    width: $cardWidth;
    height: $cardHeight;
    position: fixed;
    left:0;
    top:0;
    transform-style: preserve-3d;

    &:hover, &.is--hover {
        @include transform("scale(1.1)");
    }

    &.is--played {
        pointer-events: none;
    }
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 1;
}

.card .svg-cardBG {
    margin-left: 2px;
    margin-top: 2px;
    position: absolute;
    z-index: 0;
    @include transition("fill .2s");
}

.card-blue .svg-cardBG, .card-black:hover .svg-cardBG, .card-black.is--hover .svg-cardBG  { fill: transparentize($color_blue, 0.5); }
.card-red .svg-cardBG   { fill: transparentize($color_red, 0.5); }
.card-black .svg-cardBG { fill: rgba(0, 0, 0, 0.5); }

.card-front-img {
    position: relative;
    width: auto;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: 1;
}

.card-back {
    background: url(#{ $uiAssetsPath + "card_back.png" }) no-repeat;
    z-index: 2;
    @include transform("rotateX(180deg)");
}

/* ALBUMS --------------*/
%album-card {
    width: 180px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
    display: flex;
    flex-direction: column;
}

%album-card-visual {
    @include remainingSpace();

    & .card {
        position: relative;
        left: calc(50% - #{ $cardWidth / 2 + 2px });
        top: calc(50% - #{ $cardHeight / 2 - 0px });
    }
}

%album-card-label {
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 50px;
    padding: 0 15px;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    text-transform: none;
}

/* OVERLAYS --------------*/
.overlay {
    background: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    pointer-events:none;
    opacity: 0;
    flex-direction: column;

    @include transform("scale(1.2)");
    @include transition("all .2s .2s ease-out");

    & h1 {
        text-align: center;
        font-size: $fontSize_overlay;
        letter-spacing: 0.5em;
        opacity: 0;
        @include transition("letter-spacing .6s, opacity .4s");
    }

    &.is--active {
        pointer-events:auto;
        opacity: 1;

        @include transform("scale(1)");
        @include transition("all .4s ease-out");

        & h1 {
            opacity: 1;
            letter-spacing: 0;
            @include transition("letter-spacing .4s .2s, opacity .2s .2s");
        }
    }
}

/* SMALL LOGO, SOCIAL ICONS & CREDITS TEXT --------------*/
%smallLogo {
    width: 190px;
    height: 145px;
    display: flex;
    align-items: flex-end;

    & .svg-logo, & .svg-logoNoText {
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(255, 255, 255, 0);
        cursor:pointer;
        @include remainingSpace();
        @include transition("fill .15s, stroke .15s");
    }

    &:not(.is--tweening):hover .svg-logo, &:not(.is--tweening).is--hover .svg-logo {
        fill: rgba(0, 0, 0, 0.25);
        stroke: rgba(255, 255, 255, 1);
    }
}

%socialIcons {
    display: flex;
    align-items: flex-end;
    
    &-element {
        @extend %btn-diamond;

        position: relative;
        display: inline-block;
        margin-right: 1em;
        vertical-align: super;
        padding: .15em;
        bottom: .15em;
        overflow: visible !important;
        font-size: inherit;

        &-hoverFX {
            @extend %btn-diamond-hoverFX;
        }

        &:hover, &.is--hover {
            & %socialIcons-icon:before {
                mix-blend-mode: exclusion;
            }
        }
    }

    &-element:last-child {
        margin-right:0;
    }

    &-icon {
        &:after {
            content: "\n\n";
            visibility: hidden;

            font-family: "socicon" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &:before {
            position: absolute;
            left: calc(50% - .75em);
            top: calc(50% - (.75em / 2));
            font-size: .75em;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: text-bottom;
        }
    }
}

%creditsText {
    cursor: default;

    & span {
        @extend .fontsize-small;
    }
}

/* OPTIONS PANEL --------------*/
%options {
    @extend %content-inner;
    display: flex;

    & .col {
        width: 50%;
        margin-right: 1em;
    }

    & .col:last-child {
        margin-right: 0;
    }
}

%options-option {
    display: flex;
    height: $globalPadding;
    line-height: $globalPadding;
    margin-bottom: 1em;

    &.is--on, &.is--off {
        cursor:pointer;
    }
}

%options-option-label {
    text-transform: none;
    flex: 1;
    padding-left: 1em;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
}

%options-option-toggle {
    position: relative;
    width: $globalPadding;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    @include transition("background .2s");

    %options-option.is--on & {
        background: transparentize($color_blue, 0.5);
    }

    %options-option.is--off & {
        background: transparentize($color_red, 0.5);
    }
}

%options-option-select {
    text-transform: none;
    flex: 1;
    padding-left: 1em;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    height: 100%;

    @include transition("height .2s .2s");

    & li.is--disabled {
        color: #000;
    }
}

%options-option-list {
    cursor: pointer;
    position: relative;

    & %options-option-toggle {
        @include transition("width .2s, opacity .2s");

        &:after {
            content: "";
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #FFF;
            left:calc(50% - 4.5px);
            top:calc(50% - 4.5px);

            @include transition("transform .2s .2s");
        }
    }

    & + %options-option:not([style*=opacity]) {
        @include transition("opacity .2s .4s");
    }

    &.is--active {
        z-index: 1000;

        & %options-option-toggle {
            width: 0;
            opacity: 0;
            @include transition("width .2s .2s, opacity .2s .2s");

            &:after {
                @include transform("rotate(90deg)");
                @include transition("transform .2s");
            }
        }

        & %options-option-select {
            overflow-y: scroll;
            height: 100px;
        }

        & + %options-option {
            opacity: 0;
            @include transition("opacity .2s");
        }
    }
}

%options-option-input {
    border:none;
    outline:none;
    padding: 1em;
    color:#FFF;
    font-family:inherit;
    font-size:inherit;
    font-weight: inherit;
    cursor:auto;
    width: 75%;
    background: rgba(0, 0, 0, 0.5);
    @include transition("background .2s");

    &:focus {
        background: transparentize($color_blue, 0.5);
    }

    &.is--invalid {
        background: transparentize($color_red, 0.5);
    }
}

/* AVATAR --------------*/
%avatar {
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25), 0 0 0px 5px rgba(255, 255, 255, 0.05) inset;
    padding: 5px;
    z-index: 0;

    @include transition("background .2s .2s, box-shadow .2s");

    &:before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        z-index: -1;

        @include transition("box-shadow .2s");
    }

    &:after {
        content: "";
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        box-shadow: 2.5px 2.5px 2.5px 0px rgba(0, 0, 0, 0.5) inset;
    }

    &-img {
        position: relative;
        width: auto;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat; 
    }
}

%avatar-blue {
    background: rgba(71, 53, 235, 0.25);
    box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25),
                0 0 0px 5px rgba(255, 255, 255, 0.05) inset,
                0 0 18px 4px rgba(40, 0, 255, 0.25);

    &:before {
        box-shadow: 0 0 18px 8px rgba(33, 150, 243, 0.25);
    }
}

%avatar-red {
    background: transparentize($color_red, 0.75);
    box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25),
                0 0 0px 5px rgba(255, 255, 255, 0.05) inset,
                0 0 18px 4px rgba(255, 0, 40, 0.25);

    &:before {
        box-shadow: 0 0 18px 8px rgba(243, 33, 36, 0.25);
    }
}

/* ALTERNATIVE BG --------------*/
%altBG {
    @include fullSizeAbs();
    background: url(#{ $uiAssetsPath + "alt_bg.jpg"}) 50% 100% no-repeat;
    background-size: cover;

    &:before {
        @include fullSizeAbs("");
        background: rgba(0, 0, 0, 0.85);
    }
}

/* ANIMATIONS --------------*/
@include keyframes (extendText) {
  0%   { opacity:0; letter-spacing: 0; }
  10%, 20%  { opacity:1; }
  75%, 100%  { opacity:0; letter-spacing: 0.75em; }
}

@include keyframes (cursorMove) {
  0%, 100% { @include transform("translateX(0)"); }
  50%     { @include transform("translateX(0.5em)"); }
}


/*=======================*/
/* LOADING SCREEN
/*=======================*/
#screen_loading {
    z-index: 99999;
}

.loading_bg {
    @include fullSizeAbs();
    background: url(#{ $uiAssetsPath + "bg.jpg" }) 50% 50% no-repeat;
    background-size: cover;
}

.loading_content {
    @include fullSizeAbs();
    background: #000;
    mix-blend-mode: multiply;
    pointer-events: none;
}

.loading_wrapper {
    @include fullSizeAbs();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading_logo {
    @extend %smallLogo;
    width: 285px;
    height: 220px;

    &-svg {
        @include remainingSpace();
        height: 100%;
        background: url("../assets/svg/ui/logoNoText.svg") no-repeat 50% 50%;
    }
}

.loading_text {
    font-size: 24px;
    margin-top: 1em;
    @include animation("extendText 4s ease-in-out infinite");
}

.loading_line {
    background: #FFF;
    width: 0;
    height: 1px;
    position: absolute;
    left:0;
    top: calc(50% + 6px);

    @include transform("translate3d(0, 0, 0)");
}


/*=======================*/
/* FOOTER
/*=======================*/
#footer {
    width: 100%;
    height: 190px;
    bottom: 0;
    padding: 0px $globalPadding $globalPadding $globalPadding;
    position: absolute;
    display: flex;
    align-items: flex-end;
    z-index: 2;
}

.footer_logo {
    @extend %smallLogo;
    margin-right: 1em;
}

.footer_menu {
    display: flex;
    align-items: flex-end;
    margin-right: 1em;

    &-element {
        @extend %btn-rect;

        position: relative;
        display: inline-block;
        margin-right: .5em;
    }
}

.footer_social {
    @extend %socialIcons;

    &-element {
        @extend %socialIcons-element;

        &-hoverFX {
            @extend %socialIcons-element-hoverFX;
        }
    }

    &-icon {
        @extend %socialIcons-icon;
    }
}

.footer_text {
    @extend %creditsText;
    position: absolute;
    right: $globalPadding;
    bottom: $globalPadding;
}


/*=======================*/
/* PROMPT OVERLAY
/*=======================*/
.prompt_overlay {
    z-index: 10000;

    &-message {
        text-transform: none;
        margin-top: 1em;
    }

    &-confirmBtn, &-confirm2Btn {
        @extend %btn-rect;

        position: relative;
        margin-top: 50px;
        display: inline-block;
    }

    &-confirm2Btn {
        margin-left: 1em;
    }
}


/*=======================*/
/* MENU SCREEN
/*=======================*/
#screen_overlayMenu {
    display: flex;
    z-index: 1;
}

.menu_element {
    flex: 1;
    filter: saturate(0) brightness(0.1);
    padding: $globalPadding;
    position: relative;
    background: #000;
    @include transition("filter .2s");

    &:after {
        @include fullSizeAbs("");
        left:0;
        top:0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 90%);
    }

    &:not(.is--disabled):hover, &.is--active, &:not(.is--disabled).is--hover, html.isMobile &:not(.is--disabled) {
        filter: saturate(1) brightness(1);
        cursor: pointer;
    }

    &-bg {
        @include fullSizeAbs();
        background: #E5E6DE 50% 100% no-repeat;
        top:0;
        left:0;
    }

    &-title {
        color: rgba(0, 0, 0, .75);
        font-size: $fontSize_title;
    }

    &-title span {
        position: absolute;
        opacity: 0;
    }

    &-title span:nth-of-type(1) {
        font-weight: 700;
        @include transform("translateY(-0.5em)");
        @include transition("opacity .4s .2s, transform .4s .2s");
    }

    &-title span:nth-of-type(2) {
        @include transform("translateX(-0.5em)");
        @include transition("opacity .4s, transform .4s");
    }

    &:hover &-title, &.is--active &-title, &.is--hover &-title, html.isMobile & &-title {
        span { opacity: 1; }
        span:nth-of-type(1) { @include transform("translateY(0)"); @include transition("opacity .4s, transform .4s"); }
        span:nth-of-type(2) { @include transform("translateX(0)"); @include transition("opacity .4s .2s, transform .4s .2s"); }
    }
}

.menu_soloMode     .menu_element-bg { background-image: url(#{ $uiAssetsPath + "menu_noctis.jpg"}); }
.menu_versusMode   .menu_element-bg { background-image: url(#{ $uiAssetsPath + "menu_gladiolus.jpg"}); }
.menu_networkMode  .menu_element-bg { background-image: url(#{ $uiAssetsPath + "menu_prompto.jpg"}); }
.menu_cardAlbum    .menu_element-bg { background-image: url(#{ $uiAssetsPath + "menu_ignis.jpg"}); }
.menu_userSettings .menu_element-bg { background-image: url(#{ $uiAssetsPath + "menu_luna.jpg"}); }


/*=======================*/
/* ABOUT SCREEN
/*=======================*/
#screen_overlayAbout {
    z-index: 3;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.is--showingLogo {
        & .about_line {
            -webkit-clip-path: polygon(
                0px 1px,
                calc(50% - 220px / 2) 1px,
                calc(50% - 220px / 2) 0px,
                calc(50% + 260px / 2) 0px,
                calc(50% + 260px / 2) 1px,
                100% 1px,
                100% 0px,
                0px 0px
            );
        }
    }
}

.about_bg {
    @extend %altBG;
}

.about_header {
    height: 33.3333%;
    display: flex;
    position: relative;
    align-items: flex-start;
    padding-top: $globalPadding * 2;
    justify-content: center;
}

.about_line {
    background: #FFF;
    width: 100%;
    height: 1px;
    position: absolute;
    left:0;
    top:calc(50% + 82px);

    @include transform("translate3d(0, 0, 0)");
}

.about_logo {
    @extend %smallLogo;
    width: 285px;
    height: 220px;
}

.about_content {
    @include remainingSpace();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $globalPadding;
    text-align: center;
}

.about_text {
    @extend %creditsText;
}

.about_credits {
    @extend %btn-rect;
    position: relative;
    display: inline-block;
    margin-top:1em;
}

.about_legal {
    margin:2em 0;
    line-height: 1.25em;

    & a {
        position: relative;
        color: $color_lightBlue;
        z-index: 0;
        @include transition("color .4s");

        &:before {
            content    : "";
            position   : absolute;
            width      : 0;
            height     : 1px;
            background : currentColor;
            top        : 50%;
            z-index    : -1;
            opacity    : 0.5;

            @include transition("width .2s .2s");
        }

        &:hover, &.is--hover {
            color: $color_red;

            &:before { width: 100%; }
        }
    }
}

.about_social {
    @extend %socialIcons;
    font-size: 1.5em;

    &-element {
        @extend %socialIcons-element;
        margin-right: 1.5em;

        &-hoverFX {
            @extend %socialIcons-element-hoverFX;
        }
    }

    &-icon {
        @extend %socialIcons-icon;
    }
}

.about_prevBtn {
    @extend %btn-diamond-text;
    position: relative;
    margin-top: $globalPadding;

    &:after {
        content:"Back";
    }

    &-hoverFX {
        @extend %btn-diamond-text-hoverFX;
    }
}

.about_version {
    @extend %creditsText;
    position: absolute;
    right: $globalPadding;
    bottom: $globalPadding;
}


/*=======================*/
/* HELP SCREEN
/*=======================*/
#screen_overlayHelp {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

/* HEADER --------------*/
.help_header {
    @extend %header;

    &-leftCol {
        @extend %header-leftCol;
    }

    &-rightCol {
        @extend %header-rightCol;
    }

    &-help {
        @extend %header-help;
    }
}

/* CONTENT --------------*/
.help_content {
    @extend %content;
}

.help_content-confirm, .help_content-screenNav {
    @extend %content-promptChoice;

    &-choice {
        @extend %content-promptChoice-choice;

        &-element {
            @extend %content-promptChoice-choice-element;
        }
    }
}

.help_content-confirm {
    background: transparentize($color_blue, 0.5);
}

.help_content-topics {
    @extend %options;
}

.help_content-topics-topic {
    @extend %options-option;

    &:not(.is--disabled) {
        cursor: pointer;
    }
}

.help_content-topics-topic-label {
    @extend %options-option-label;
}

.help_content-guide {
    @extend %content-inner;
    height: calc(100% - #{ $globalPadding / 2 });
    top: $globalPadding * 2;
}

.help_content-guide-contents {
    @extend %options-option-select;
    cursor: inherit;
    height: 100%;
    background: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 2em;

    & figure {
        display: flex;

        &:not(:last-of-type) {
            margin-bottom: 2em;
        }

        & figcaption {
            vertical-align: top;
            padding: 2em;
            flex: 1;
            background: rgba(255, 255, 255, 0.15);
            margin-left: 2em;
            line-height: 1.5em;

            padding-left: 4em;
            text-indent: -2em;

            & span {
                margin-right: 0.5em;
            }
        }

        & img {
            border: 1px solid rgba(255, 255, 255, 0.25);
        }
    }
}


/*=======================*/
/* TITLE SCREEN
/*=======================*/
.title_logo {
    width: 630px;
    height: 485px;
    position: absolute;
    left: calc(50% - 630px / 2);
    top: 12.5%;

    & .svg-logo {
        fill: rgba(255, 255, 255, 1);
    }
}

.title_startBtn {
    @extend %btn-diamond-text;
    position: absolute;
    left:calc(50% - #{ $btnSize_big / 2 });
    top: 70%;

    &:after {
        content:"Start";
    }

    &-hoverFX {
        @extend %btn-diamond-text-hoverFX;
    }
}

.title_account {
    position: absolute;
    right: $globalPadding;
    top: $globalPadding;
    display: flex;
    align-items: center;

    &-element {
        @extend %btn-rect;

        position: relative;
        display: inline-block;

        &:not(:last-of-type) {
            margin-right: .5em;
        }
    }

    &-welcome {
        margin-right: 1em;
        position: relative;
    }
}

/*=======================*/
/* RULES SCREEN
/*=======================*/
#screen_rulesSelect {
    display: flex;
    flex-direction: column;
}

/* HEADER --------------*/
.rulesSelect_header {
    @extend %header;

    &-leftCol {
        @extend %header-leftCol;
    }

    &-rightCol {
        @extend %header-rightCol;
    }

    &-help {
        @extend %header-help;
    }
}

/* CONTENT --------------*/
.rulesSelect_content {
    @extend %content
}

.rulesSelect_content-confirm, .rulesSelect_content-screenNav {
    @extend %content-promptChoice;

    &-choice {
        @extend %content-promptChoice-choice;

        &-element {
            @extend %content-promptChoice-choice-element;
        }
    }
}

.rulesSelect_content-confirm {
    background: transparentize($color_blue, 0.5);
}

.rulesSelect_content-rules {
    @extend %options;
}

.rulesSelect_content-rules-rule {
    @extend %options-option;

    &.rule-trade {
        @extend %options-option-list;
    }
}

.rulesSelect_content-rules-rule-label {
    @extend %options-option-label;
}

.rulesSelect_content-rules-rule-toggle {
    @extend %options-option-toggle;
}

.rulesSelect_content-rules-rule-select {
    @extend %options-option-select;
}


/*=======================*/
/* CARD SELECTION SCREEN
/*=======================*/
#screen_cardSelect {
    display: flex;
    flex-direction: column;
}

/* HEADER --------------*/
.cardSelect_header {
    @extend %header;

    &-leftCol {
        @extend %header-leftCol;
    }

    &-rightCol {
        @extend %header-rightCol;
    }

    &-help {
        @extend %header-help;
        position: relative;
        padding: 0;
    }
}

.cardSelect_header-ownedCards,
.cardSelect_header-uniqueCopies {
    @extend .row;
    margin-top: 1em;
}

.cardSelect_header-ownedCards-label,
.cardSelect_header-uniqueCopies-label {
    @extend .col_9;
    text-transform: none;
}

.cardSelect_header-ownedCards-count,
.cardSelect_header-uniqueCopies-count {
    @extend .col_3, .weight-medium;
    text-align: right;
}

.cardSelect_header-deck {
    height: $cardHeight;
    display: flex;
    position: relative;
}

.cardSelect_header-deck-holder {
    width: $cardWidth;
    height: 100%;
    margin-left: 1em;
    position:relative;
    padding-top: 2px;

    &.glowing .svg-cardBG {
        fill: transparentize($color_blue, 0.5);
    }
}

.cardSelect_header-deck-holder .svg-cardBG {
    stroke-width: 1;
    stroke: rgba(255, 255, 255, .05);
    @include transition("fill .2s");
}

/* CONTENT --------------*/
.cardSelect_content {
    @extend %content
}

.cardSelect_content-confirm, .cardSelect_content-screenNav {
    @extend %content-promptChoice;

    &-choice {
        @extend %content-promptChoice-choice;

        &-element {
            @extend %content-promptChoice-choice-element;
        }
    }
}

.cardSelect_content-confirm {
    background: transparentize($color_blue, 0.5);
}

.cardSelect_content-scroll {
    @extend %content-inner;
}

.cardSelect_content-nav-prevBtn, .cardSelect_content-nav-nextBtn {
    @extend %btn-diamond;

    width: $btnSize_big;
    height: $btnSize_big;
    position: absolute;
    top: calc(50% - #{ $btnSize_big / 2 });
    z-index: 1;

    &-hoverFX {
        @include fullSizeAbs();
        @include transform("rotate(45deg)");
        @include transition("all .2s .2s ease-in");
        border: 1px solid rgba(255, 255, 255, .25);
        overflow: hidden;

        &:after {
            @include fullSizeAbs("");
            background: rgba(0, 0, 0, .85);

            @include transition("all .2s .2s ease-in");
        }
    }

    &:hover, &.is--hover {
        & .cardSelect_content-nav-prevBtn-hoverFX,
        & .cardSelect_content-nav-nextBtn-hoverFX {
            border: 1px solid #FFF;

            &:after {
                background: #FFF;

                @include transition("all .2s ease-out");
            }
        }
    }
}

.cardSelect_content-nav-prevBtn { left: #{ $globalPadding / 2 - 4px }; }
.cardSelect_content-nav-nextBtn { right: #{ $globalPadding / 2 - 4px }; }

.cardSelect_content-album {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.cardSelect_content-album-card {
    @extend %album-card;

    .cardSelect_content-album.flex-justify-start & {
        margin-right: 1.5em;
    }

    &.is--disabled {
        & .cardSelect_content-album-card-visual {
            filter: saturate(0);

            & .card {
                cursor: default;
            }
        }

        & .cardSelect_content-album-card-label {
            color: $color_darkGrey;
        }
    }

    &-visual {
        @extend %album-card-visual
    }

    &-label {
        @extend %album-card-label
    }

    &-name {
        @extend .col_9;
    }

    &-copiesCount {
        @extend .col_3, .weight-medium;
        text-align: right;
    }
}


/*=======================*/
/* GAME SCREEN
/*=======================*/
/* BOARD --------------*/
#board {
    position: absolute;
    display:flex;
    flex-wrap:wrap;
    width: $boardWidth;
    height: $boardHeight;
    align-content: space-between;
    justify-content: space-between;
    left:calc(50% - #{ $boardWidth / 2 });
    top:calc(50% - #{ $boardHeight / 2 });
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25), 0 0 0px 5px rgba(255, 255, 255, 0.05) inset;
    padding: 12px;
}

#board:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
}

.case {
    width: calc(33.333% - 4.5px);
    height: calc(33.333% - 4.5px);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.25);

    &:before {
        @include fullSizeAbs("");
        @include transition("background .2s");
    }

    &.blue:before {
        background: transparentize($color_blue, 0.75);
    }

    &.red:before {
        background: transparentize($color_red, 0.75);
    }
}

#case11 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTL.png"}) no-repeat 0% 0%,
                url(#{ $uiAssetsPath + "board_cornerBR.png"}) no-repeat 100% 100%;
}

#case21 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerBL.png"}) no-repeat 0% 100%,
                url(#{ $uiAssetsPath + "board_cornerBR.png"}) no-repeat 100% 100%;
}

#case31 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTR.png"}) no-repeat 100% 0%,
                url(#{ $uiAssetsPath + "board_cornerBL.png"}) no-repeat 0% 100%;
}

#case12 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTR.png"}) no-repeat 100% 0%,
                url(#{ $uiAssetsPath + "board_cornerBR.png"}) no-repeat 100% 100%;
}

#case22 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTL.png"}) no-repeat 0% 0%,
                url(#{ $uiAssetsPath + "board_cornerTR.png"}) no-repeat 100% 0%,
                url(#{ $uiAssetsPath + "board_cornerBL.png"}) no-repeat 0% 100%,
                url(#{ $uiAssetsPath + "board_cornerBR.png"}) no-repeat 100% 100%;
}

#case32 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTL.png"}) no-repeat 0% 0%,
                url(#{ $uiAssetsPath + "board_cornerBL.png"}) no-repeat 0% 100%;
}

#case13 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTR.png"}) no-repeat 100% 0%,
                url(#{ $uiAssetsPath + "board_cornerBL.png"}) no-repeat 0% 100%;
}

#case23 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTL.png"}) no-repeat 0% 0%,
                url(#{ $uiAssetsPath + "board_cornerTR.png"}) no-repeat 100% 0%;
}

#case33 {
    background: url(#{ $uiAssetsPath + "board_caseBG.png"}) no-repeat 50%,
                url(#{ $uiAssetsPath + "board_cornerTL.png"}) no-repeat 0% 0%,
                url(#{ $uiAssetsPath + "board_cornerBR.png"}) no-repeat 100% 100%;
}

.element-fire, .element-ice, .element-wind, .element-earth,
.element-water, .element-thunder, .element-poison, .element-holy {
    &:before {
        @include fullSizeAbs("");
    }

    &:after {
        position: absolute;
        width: 100%;
        height: 1em;
        text-align: center;
        top: calc(50% - .5em);
        z-index: 999;
        font-size: 36px;
        font-weight: 500;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        opacity: 0;
        @include transform("scale(1.2)");
        @include transition("all .4s ease-out");
    }

    &.has--bonus:after, &.has--penalty:after {
        opacity: 1;
        @include transform("scale(1)");
    }

    &.has--bonus:after   { content: "+1"; }
    &.has--penalty:after { content: "-1"; }
}

.element-fire:before    { background: url(#{ $uiAssetsPath + "elem_fire.png"}) no-repeat 50%; }
.element-ice:before     { background: url(#{ $uiAssetsPath + "elem_ice.png"}) no-repeat 50%; }
.element-wind:before    { background: url(#{ $uiAssetsPath + "elem_wind.png"}) no-repeat 50%; }
.element-earth:before   { background: url(#{ $uiAssetsPath + "elem_earth.png"}) no-repeat 50%; }
.element-water:before   { background: url(#{ $uiAssetsPath + "elem_water.png"}) no-repeat 50%; }
.element-thunder:before { background: url(#{ $uiAssetsPath + "elem_thunder.png"}) no-repeat 50%; }
.element-poison:before  { background: url(#{ $uiAssetsPath + "elem_poison.png"}) no-repeat 50%; }
.element-holy:before    { background: url(#{ $uiAssetsPath + "elem_holy.png"}) no-repeat 50%; }


/* PLAYER HUD --------------*/
%playerHUD {
    width:$boardWidth;
    height:#{$boardHeight - 175px};
    top: calc(50% - (#{$boardHeight / 2} - 100px));
    position: absolute;
}

.game_playerHUD-opponent {
    @extend %playerHUD;
    right: calc(50% + (#{$boardWidth / 2} + 50px));
}
.game_playerHUD-user {
    @extend %playerHUD;
    left: calc(50% + (#{$boardWidth / 2} + 50px));
}

.game_playerHUD-bar {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size:$fontSize_UI;
    text-transform: none;
    font-weight: 500;
    z-index: 0;
}

.game_playerHUD-bar:before {
    content: "";
    position: absolute;
    width: calc(100% + 50px);
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.game_playerHUD-opponent .game_playerHUD-bar                   { padding-left: 125px; }
.game_playerHUD-opponent.is--active .game_playerHUD-bar        { text-shadow: 0 0 15px $color_red; }
.game_playerHUD-opponent .game_playerHUD-bar:before            { background: linear-gradient(to left, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); }
.game_playerHUD-opponent.is--active .game_playerHUD-bar:before { background: linear-gradient(to left, transparentize($color_red, 0.25) 0%, transparentize($color_red, 1) 100%); }

.game_playerHUD-user .game_playerHUD-bar                   { text-align: right; padding-right: 125px; }
.game_playerHUD-user.is--active .game_playerHUD-bar        { text-shadow: 0 0 15px rgb(83, 119, 251); }
.game_playerHUD-user .game_playerHUD-bar:before            { background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); left:-50px; }
.game_playerHUD-user.is--active .game_playerHUD-bar:before { background: linear-gradient(to right, transparentize($color_blue, 0.25) 0%, transparentize($color_blue, 1) 100%); }

.game_playerHUD-bar-type {
    position: absolute;
    top: -1.5em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0.125em;
}

.game_playerHUD-bar-state {
    position: absolute;
    bottom: -1.5em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0;
    opacity: 0;
}

.game_playerHUD-user .game_playerHUD-bar-state { right: 125px; }
%playerHUD.is--active .game_playerHUD-bar-state {
    letter-spacing: 0.75em;
    opacity: 1;

    @include animation("extendText 4s ease-in-out infinite");
}

.game_playerHUD-score {
    position: absolute;
    font-size: $fontSize_score;
    vertical-align: middle;
    text-align: center;
    top: -32px;
    font-weight: 500;
}

.game_playerHUD-opponent .game_playerHUD-score { right:0; }
.game_playerHUD-user .game_playerHUD-score     { left:0; }

.game_playerHUD-avatar {
    @extend %avatar;
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(-100px / 4);

    &-img {
        @extend %avatar-img;
    }
}

.game_playerHUD-opponent .game_playerHUD-avatar { left: 0; }
.game_playerHUD-user .game_playerHUD-avatar     { right: 0; }

.game_playerHUD-user.is--active .game_playerHUD-avatar {
    @extend %avatar-blue;
}

.game_playerHUD-opponent.is--active .game_playerHUD-avatar {
    @extend %avatar-red;
}

/* DECK HOLDERS --------------*/
.game_deck {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
}

.game_deck-holder {
    width: $cardWidth;
    height: $cardHeight;
    position:relative;
    padding-top:2px;
}

.game_deck-holder:nth-child(1),
.game_deck-holder:nth-child(2),
.game_deck-holder:nth-child(4) {
    margin-right: 1em;
}

.game_deck-holder:nth-child(1),
.game_deck-holder:nth-child(2),
.game_deck-holder:nth-child(3) {
    margin-bottom: 1em;
}

.game_deck-holder .svg-cardBG {
    stroke-width: 1;
    stroke: rgba(255, 255, 255, .05);
    fill: rgba(0, 0, 0, 0.5);
}

.game_overlay-endGame-confirmBtn {
    @extend %btn-rect;

    position: relative;
    margin-top: 50px;
}

.game_overlay-endGame-album-user,
.game_overlay-endGame-album-opponent {
    height: 270px;
    display: flex;
    position: relative;
}

.game_overlay-endGame-album-opponent {
    margin-top: 50px;
    margin-bottom: 1.5em;
}

.game_overlay-endGame-album-card {
    @extend %album-card;
    height: 270px;
    margin-right: 1.5em;
    border: none;

    &-visual {
        @extend %album-card-visual
    }

    &-label {
        @extend %album-card-label
    }

    & .card-blue:hover, & .card-blue.is--hover {
        @include transform("scale(1)");
    }
}


/*=======================*/
/* USER SETTINGS SCREEN
/*=======================*/
#screen_userSettings {
    display: flex;
    flex-direction: column;
}

/* HEADER --------------*/
.userSettings_header {
    @extend %header;

    &-leftCol {
        @extend %header-leftCol;
    }

    &-rightCol {
        @extend %header-rightCol;
    }
}

.userSettings_header-countWon,
.userSettings_header-countLost,
.userSettings_header-countDraw {
    @extend .row;
    margin-top: 1em;
}

.userSettings_header-countWon-label,
.userSettings_header-countLost-label,
.userSettings_header-countDraw-label {
    @extend .col_9;
    text-transform: none;
}

.userSettings_header-countWon-count,
.userSettings_header-countLost-count,
.userSettings_header-countDraw-count {
    @extend .col_3, .weight-medium;
    text-align: right;
}

.userSettings_header-avatar {
    @extend %avatar;
    position: relative;
    height: 200px;
    width: 200px;

    &:hover, &.is--hover {
        @extend %avatar-blue;
    }

    &-img {
        @extend %avatar-img;
    }
}

/* CONTENT --------------*/
.userSettings_content {
    @extend %content
}

.userSettings_content-save, .userSettings_content-load {
    @extend %content-promptChoice;

    &-choice {
        @extend %content-promptChoice-choice;

        &-element {
            @extend %content-promptChoice-choice-element;
        }
    }
}

.userSettings_content-load {
    background: transparentize($color_blue, 0.5);
}

.userSettings_content-settings {
    @extend %options;
}

.userSettings_content-settings-setting {
    @extend %options-option;

    &.setting-difficulty, &.setting-placingMode {
        @extend %options-option-list;
    }
}

.userSettings_content-settings-setting-label {
    @extend %options-option-label;
}

.userSettings_content-settings-setting-toggle {
    @extend %options-option-toggle;
}

.userSettings_content-settings-setting-select {
    @extend %options-option-select;
}

.userSettings_content-settings-setting-input {
    @extend %options-option-input;
}


/*=======================*/
/* ROOM SELECTION SCREEN
/*=======================*/
#screen_roomSelect {
    display: flex;
    flex-direction: column;
}

/* HEADER --------------*/
.roomSelect_header {
    @extend %header;

    &-leftCol {
        @extend %header-leftCol;
    }

    &-rightCol {
        @extend %header-rightCol;
    }

    &-help {
        @extend %header-help;
    }
}

/* CONTENT --------------*/
.roomSelect_content {
    @extend %content
}

.roomSelect_content-screenNav {
    @extend %content-promptChoice;

    &-choice {
        @extend %content-promptChoice-choice;

        &-element {
            @extend %content-promptChoice-choice-element;
        }
    }
}

.roomSelect_content-settings {
    @extend %options;
}

.roomSelect_content-settings-setting {
    @extend %options-option;

    &.setting-mode {
        @extend %options-option-list;
    }
}

.roomSelect_content-settings-setting {
    @extend %options-option;

    &.setting-difficulty {
        @extend %options-option-list;
    }
}

.roomSelect_content-settings-setting-label {
    @extend %options-option-label;
}

.roomSelect_content-settings-setting-toggle {
    @extend %options-option-toggle;
}

.roomSelect_content-settings-setting-select {
    @extend %options-option-select;
}

.roomSelect_content-settings-setting-input {
    @extend %options-option-input;
}


/*=======================*/
/* 404 PAGE
/*=======================*/

.notfound {
    background: url(#{ $uiAssetsPath + "alt_bg.jpg"}) 50% 100% no-repeat;
    background-size: cover;

    &:before {
        @include fullSizeAbs("");
        background: rgba(0, 0, 0, 0.85);
    }

    &_img {
        position: absolute;
        width: 50%;
        height: 50%;
        left: 25%;
        top: 25%;
        background: url(#{ $uiAssetsPath + "404.png"}) 50% 50% no-repeat;
        background-size: contain;
    }

    &_redirectLink {
        display: block;
        width: 100%;
        height: 100%;
    }
}
