/*=======================*/
/* VARIABLES, FUNCTIONS
/*=======================*/
/*=======================*/
/* MIXINS
/*=======================*/
/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
  font-family: "AvantGarde LT";
  src: url(../assets/fonts/AvantGardeLT-Medium.eot);
  src: url(../assets/fonts/AvantGardeLT-Medium.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/AvantGardeLT-Medium.woff2) format("woff2"), url(../assets/fonts/AvantGardeLT-Medium.woff) format("woff"), url(../assets/fonts/AvantGardeLT-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "AvantGarde LT";
  src: url(../assets/fonts/AvantGardeLT-ExtraLight.eot);
  src: url(../assets/fonts/AvantGardeLT-ExtraLight.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/AvantGardeLT-ExtraLight.woff2) format("woff2"), url(../assets/fonts/AvantGardeLT-ExtraLight.woff) format("woff"), url(../assets/fonts/AvantGardeLT-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "AvantGarde LT";
  src: url(../assets/fonts/AvantGardeLT-Bold.eot);
  src: url(../assets/fonts/AvantGardeLT-Bold.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/AvantGardeLT-Bold.woff2) format("woff2"), url(../assets/fonts/AvantGardeLT-Bold.woff) format("woff"), url(../assets/fonts/AvantGardeLT-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }
/*=======================*/
/* 12 COLUMNS RESPONSIVE GRID
/*=======================*/
.row, .cardSelect_header-ownedCards,
.cardSelect_header-uniqueCopies {
  display: flex; }

.col_1 {
  flex-basis: 8.33333333%; }

.col_2 {
  flex-basis: 16.66666667%; }

.col_3, .cardSelect_header-ownedCards-count,
.cardSelect_header-uniqueCopies-count, .cardSelect_content-album-card-copiesCount {
  flex-basis: 25%; }

.col_4 {
  flex-basis: 33.33333333%; }

.col_5 {
  flex-basis: 41.66666667%; }

.col_6 {
  flex-basis: 50%; }

.col_7 {
  flex-basis: 58.33333333%; }

.col_8 {
  flex-basis: 66.66666667%; }

.col_9, .cardSelect_header-ownedCards-label,
.cardSelect_header-uniqueCopies-label, .cardSelect_content-album-card-name {
  flex-basis: 75%; }

.col_10 {
  flex-basis: 83.33333333%; }

.col_11 {
  flex-basis: 91.66666667%; }

.col_12 {
  flex-basis: 100%; }

/*=======================*/
/* GENERAL RULES
/*=======================*/
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.15); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75); }

* {
  -webkit-user-select: none;
  user-select: none;
  cursor: inherit; }

html, body {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

html {
  background: #000;
  font-family: "AvantGarde LT", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #FFF; }

body {
  transform-origin: 50%;
  width: 100%;
  height: 100%;
  cursor: default; }

hr {
  position: relative;
  width: calc(100% - 17.5px);
  margin-left: 7.5px; }

hr:after, hr:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border: 1px #FFF solid;
  transform: rotate(45deg);
  top: -2.5px; }

hr:after {
  left: -7.5px; }

hr:before {
  right: -8.5px; }

h1 {
  font-size: 60px; }

#canvas {
  position: absolute;
  top: 0;
  left: 0; }

#app {
  width: 100%;
  height: 100%;
  position: absolute; }

.color-darkGrey {
  color: #3d4043; }

.weight-medium, .cardSelect_header-ownedCards-count,
.cardSelect_header-uniqueCopies-count, .cardSelect_content-album-card-copiesCount {
  font-weight: 500; }

.weight-bold {
  font-weight: 700; }

.flex-justify-sb {
  justify-content: space-between; }

.flex-justify-start {
  justify-content: flex-start; }

/*=======================*/
/* COMPONENTS
/*=======================*/
/* CONTAINERS ------------*/
.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* BUTTONS ------------*/
.footer_menu-element, .rulesSelect_content-screenNav-choice-element, .cardSelect_content-screenNav-choice-element, .rulesSelect_content-confirm-choice-element, .cardSelect_content-confirm-choice-element, .game_overlay-endGame-confirmBtn, .footer_social-element, .title_startBtn, .cardSelect_content-nav-prevBtn, .cardSelect_content-nav-nextBtn {
  cursor: pointer;
  font-size: 16px; }

.footer_menu-element, .rulesSelect_content-screenNav-choice-element, .cardSelect_content-screenNav-choice-element, .rulesSelect_content-confirm-choice-element, .cardSelect_content-confirm-choice-element, .game_overlay-endGame-confirmBtn {
  border: 1px solid #FFF;
  overflow: hidden;
  padding: .3em; }
  .footer_menu-element:after, .rulesSelect_content-screenNav-choice-element:after, .cardSelect_content-screenNav-choice-element:after, .rulesSelect_content-confirm-choice-element:after, .cardSelect_content-confirm-choice-element:after, .game_overlay-endGame-confirmBtn:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FFF;
    left: 0;
    top: -100%;
    -webkit-transition: -webkit-top .15s ease-in;
    -ms-transition: -ms-top .15s ease-in;
    transition: top .15s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .footer_menu-element:hover, .rulesSelect_content-screenNav-choice-element:hover, .cardSelect_content-screenNav-choice-element:hover, .rulesSelect_content-confirm-choice-element:hover, .cardSelect_content-confirm-choice-element:hover, .game_overlay-endGame-confirmBtn:hover, .is--active.footer_menu-element, .is--active.rulesSelect_content-screenNav-choice-element, .is--active.cardSelect_content-screenNav-choice-element, .is--active.rulesSelect_content-confirm-choice-element, .is--active.cardSelect_content-confirm-choice-element, .is--active.game_overlay-endGame-confirmBtn {
    background: #FFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: hard-light; }
    .footer_menu-element:hover:after, .rulesSelect_content-screenNav-choice-element:hover:after, .cardSelect_content-screenNav-choice-element:hover:after, .rulesSelect_content-confirm-choice-element:hover:after, .cardSelect_content-confirm-choice-element:hover:after, .game_overlay-endGame-confirmBtn:hover:after, .is--active.footer_menu-element:after, .is--active.rulesSelect_content-screenNav-choice-element:after, .is--active.cardSelect_content-screenNav-choice-element:after, .is--active.rulesSelect_content-confirm-choice-element:after, .is--active.cardSelect_content-confirm-choice-element:after, .is--active.game_overlay-endGame-confirmBtn:after {
      top: 0;
      mix-blend-mode: exclusion; }

.footer_social-element-hoverFX, .title_startBtn-hoverFX {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #FFF;
  overflow: hidden; }
  .footer_social-element-hoverFX:after, .title_startBtn-hoverFX:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
    left: 200%;
    -webkit-transition: -webkit-all .2s .2s ease-in;
    -ms-transition: -ms-all .2s .2s ease-in;
    transition: all .2s .2s ease-in; }
.footer_social-element:hover .footer_social-element-hoverFX:after, .title_startBtn:hover .footer_social-element-hoverFX:after, .cardSelect_content-nav-prevBtn:hover .footer_social-element-hoverFX:after, .cardSelect_content-nav-nextBtn:hover .footer_social-element-hoverFX:after, .footer_social-element:hover .title_startBtn-hoverFX:after, .title_startBtn:hover .title_startBtn-hoverFX:after, .cardSelect_content-nav-prevBtn:hover .title_startBtn-hoverFX:after, .cardSelect_content-nav-nextBtn:hover .title_startBtn-hoverFX:after {
  background: #FFF;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-all .2s ease-out;
  -ms-transition: -ms-all .2s ease-out;
  transition: all .2s ease-out; }

.arrow-up, .arrow-right, .arrow-down, .arrow-left {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../assets/img/ui/arrow.png) no-repeat 50%; }

.arrow-up {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.arrow-down {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.arrow-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.footer_social-element:hover .arrow-up, .title_startBtn:hover .arrow-up, .cardSelect_content-nav-prevBtn:hover .arrow-up, .cardSelect_content-nav-nextBtn:hover .arrow-up, .footer_social-element:hover .arrow-right, .title_startBtn:hover .arrow-right, .cardSelect_content-nav-prevBtn:hover .arrow-right, .cardSelect_content-nav-nextBtn:hover .arrow-right, .footer_social-element:hover .arrow-down, .title_startBtn:hover .arrow-down, .cardSelect_content-nav-prevBtn:hover .arrow-down, .cardSelect_content-nav-nextBtn:hover .arrow-down, .footer_social-element:hover .arrow-left, .title_startBtn:hover .arrow-left, .cardSelect_content-nav-prevBtn:hover .arrow-left, .cardSelect_content-nav-nextBtn:hover .arrow-left {
  mix-blend-mode: exclusion; }

/* CARDS --------------*/
.card {
  cursor: pointer;
  width: 150px;
  height: 190px;
  position: fixed;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  /*&.card-red,*/ }
  .card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .card.is--played {
    pointer-events: none; }

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.card-front {
  z-index: 2; }

.card .svg-cardBG {
  margin-left: 2px;
  margin-top: 2px;
  position: absolute;
  -webkit-transition: -webkit-fill .2s;
  -ms-transition: -ms-fill .2s;
  transition: fill .2s; }

.card-blue .svg-cardBG, .card-black:hover .svg-cardBG {
  fill: rgba(40, 51, 120, 0.5); }

.card-red .svg-cardBG {
  fill: rgba(235, 53, 71, 0.5); }

.card-black .svg-cardBG {
  fill: rgba(0, 0, 0, 0.5); }

.card img {
  position: relative; }

.card-back {
  background: url(../assets/img/ui/card_back.png);
  z-index: 1;
  -webkit-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg); }

/* ALBUMS --------------*/
.cardSelect_content-album-card, .game_overlay-endGame-album-card {
  width: 180px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column; }

.cardSelect_content-album-card-visual, .game_overlay-endGame-album-card-visual {
  flex: 1;
  position: relative; }
  .cardSelect_content-album-card-visual .card, .game_overlay-endGame-album-card-visual .card {
    position: relative;
    left: calc(50% - 77px);
    top: calc(50% - 95px); }

.cardSelect_content-album-card-label, .game_overlay-endGame-album-card-label {
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  padding: 0 15px;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-transform: none; }

/* OVERLAYS --------------*/
.overlay {
  background: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  flex-direction: column;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-all .2s .2s ease-out;
  -ms-transition: -ms-all .2s .2s ease-out;
  transition: all .2s .2s ease-out; }
  .overlay h1 {
    text-align: center;
    font-size: 72px;
    letter-spacing: 0.5em;
    opacity: 0;
    -webkit-transition: -webkit-letter-spacing .6s, opacity .4s;
    -ms-transition: -ms-letter-spacing .6s, opacity .4s;
    transition: letter-spacing .6s, opacity .4s; }
  .overlay.is--active {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-all .4s ease-out;
    -ms-transition: -ms-all .4s ease-out;
    transition: all .4s ease-out; }
    .overlay.is--active h1 {
      opacity: 1;
      letter-spacing: 0;
      -webkit-transition: -webkit-letter-spacing .4s .2s, opacity .2s .2s;
      -ms-transition: -ms-letter-spacing .4s .2s, opacity .2s .2s;
      transition: letter-spacing .4s .2s, opacity .2s .2s; }

/*=======================*/
/* FOOTER
/*=======================*/
#footer {
  width: 100%;
  height: 190px;
  bottom: 0;
  padding: 0px 50px 50px 50px;
  position: absolute;
  display: flex;
  align-items: flex-end; }
  #footer.is--showingLogo .footer_line {
    -webkit-clip-path: polygon(0px 1px, 85px 1px, 85px 0px, 220px 0px, 220px 1px, 100% 1px, 100% 0px, 0px 0px); }

.footer_line {
  background: #FFF;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.footer_logo {
  width: 190px;
  height: 145px;
  margin-right: 1em;
  display: flex;
  align-items: flex-end; }
  .footer_logo .svg-logo {
    fill: white;
    stroke: rgba(255, 255, 255, 0);
    cursor: pointer;
    flex: 1;
    position: relative;
    -webkit-transition: -webkit-fill .15s, stroke .15s;
    -ms-transition: -ms-fill .15s, stroke .15s;
    transition: fill .15s, stroke .15s; }
  .footer_logo:not(.tweening):hover .svg-logo {
    fill: rgba(0, 0, 0, 0.25);
    stroke: white; }

.footer_menu {
  display: flex;
  align-items: flex-end;
  margin-right: 1em; }
  .footer_menu-element {
    position: relative;
    display: inline-block;
    margin-right: .5em; }

.footer_social {
  display: flex;
  align-items: flex-end; }
  .footer_social-element {
    position: relative;
    display: inline-block;
    margin-right: 1em;
    vertical-align: super;
    padding: .15em;
    bottom: .15em;
    overflow: visible !important; }
    .footer_social-element:hover .footer_social-icon:before {
      mix-blend-mode: exclusion; }
  .footer_social-icon:after {
    content: "\n\n";
    visibility: hidden;
    font-family: "socicon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .footer_social-icon:before {
    position: absolute;
    left: calc(50% - .75em);
    top: calc(50% - (.75em / 2));
    font-size: .75em;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: text-bottom; }

.footer_text {
  position: absolute;
  right: 50px;
  bottom: 50px;
  cursor: default; }
  .footer_text-span {
    font-size: .75em;
    margin-right: .5em; }

/*=======================*/
/* TITLE SCREEN
/*=======================*/
.title_logo {
  width: 630px;
  height: 485px;
  position: absolute;
  left: calc(50% - 630px / 2);
  top: 12.5%; }
  .title_logo .svg-logo {
    fill: white; }

.title_startBtn {
  width: 60px;
  height: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: 70%; }
  .title_startBtn:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 10px 0 transparent, 0px 0px 10px 0 transparent;
    -webkit-transform: scale(0.85) rotate(45deg);
    -ms-transform: scale(0.85) rotate(45deg);
    transform: scale(0.85) rotate(45deg);
    -webkit-transition: -webkit-box-shadow .2s ease-in;
    -ms-transition: -ms-box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in; }
  .title_startBtn:after {
    content: "Start";
    width: 100px;
    text-align: center;
    position: absolute;
    left: calc(50% - 50px);
    bottom: -3em;
    height: 1em;
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-letter-spacing .15s .1s, text-indent .15s .1s;
    -ms-transition: -ms-letter-spacing .15s .1s, text-indent .15s .1s;
    transition: letter-spacing .15s .1s, text-indent .15s .1s; }
  .title_startBtn:hover:before {
    box-shadow: -25px 25px 0 0 rgba(0, 0, 0, 0.25), 25px -25px 0 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-box-shadow .2s .1s ease-out;
    -ms-transition: -ms-box-shadow .2s .1s ease-out;
    transition: box-shadow .2s .1s ease-out; }
  .title_startBtn:hover:after {
    letter-spacing: 0.25em;
    text-indent: 0.25em; }

/*=======================*/
/* MENU SCREEN
/*=======================*/
/* BOARD --------------*/
#menu {
  width: 100px;
  height: 100px;
  position: absolute;
  background: aquamarine;
  text-align: center; }

.rulesSelect_header, .cardSelect_header {
  height: 300px;
  width: 100%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.95);
  position: relative;
  z-index: 1;
  display: flex; }
  .rulesSelect_header:before, .cardSelect_header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/img/ui/headerPattern.jpg);
    opacity: .25;
    z-index: -1; }
  .rulesSelect_header-leftCol, .cardSelect_header-leftCol {
    width: 370px; }
  .rulesSelect_header-rightCol, .cardSelect_header-rightCol {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end; }

.rulesSelect_content, .cardSelect_content {
  width: 100%;
  height: calc(100% - 490px);
  position: relative;
  padding: 50px; }

.rulesSelect_content-screenNav, .cardSelect_content-screenNav, .rulesSelect_content-confirm, .cardSelect_content-confirm {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  padding: 0 50px; }

.rulesSelect_content-screenNav, .cardSelect_content-screenNav {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center; }
  .rulesSelect_content-screenNav-choice-element, .cardSelect_content-screenNav-choice-element {
    position: relative;
    display: inline-block;
    margin-right: .5em; }

/*=======================*/
/* RULES SCREEN
/*=======================*/
#screen_rulesSelect {
  display: flex;
  flex-direction: column; }

/* HEADER --------------*/
/* CONTENT --------------*/
.rulesSelect_content-confirm {
  background: rgba(40, 51, 120, 0.5); }
  .rulesSelect_content-confirm-choice {
    display: flex;
    align-items: center;
    margin-right: 1em;
    height: 100%; }
    .rulesSelect_content-confirm-choice-element {
      position: relative;
      display: inline-block;
      margin-right: .5em; }

.rulesSelect_content-screenNav-choice {
  display: flex;
  align-items: center;
  margin-right: 1em;
  height: 100%; }

.rulesSelect_content-rules {
  height: 270px;
  top: calc(50% - 270px / 2);
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  padding: 0 50px; }
  .rulesSelect_content-rules .col {
    width: 50%;
    margin-right: 1em; }

.rulesSelect_content-rules-rule {
  display: flex;
  height: 50px;
  line-height: 50px;
  margin-bottom: 1em; }
  .rulesSelect_content-rules-rule.is--on, .rulesSelect_content-rules-rule.is--off, .rulesSelect_content-rules-rule.rule-trade {
    cursor: pointer; }

.rulesSelect_content-rules-rule-label {
  text-transform: none;
  flex: 1;
  padding-left: 1em;
  background: rgba(255, 255, 255, 0.1);
  position: relative; }

.rulesSelect_content-rules-rule-toggle {
  position: relative;
  width: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-background .2s;
  -ms-transition: -ms-background .2s;
  transition: background .2s; }
  .rulesSelect_content-rules-rule.is--on .rulesSelect_content-rules-rule-toggle {
    background: rgba(40, 51, 120, 0.5); }
  .rulesSelect_content-rules-rule.is--off .rulesSelect_content-rules-rule-toggle {
    background: rgba(235, 53, 71, 0.5); }

.rulesSelect_content-rules-rule-select {
  text-transform: none;
  flex: 1;
  padding-left: 1em;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-transition: -webkit-height .2s .2s;
  -ms-transition: -ms-height .2s .2s;
  transition: height .2s .2s; }

.rule-trade .rulesSelect_content-rules-rule-toggle {
  -webkit-transition: -webkit-width .2s, opacity .2s;
  -ms-transition: -ms-width .2s, opacity .2s;
  transition: width .2s, opacity .2s; }
  .rule-trade .rulesSelect_content-rules-rule-toggle:after {
    content: "";
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FFF;
    left: calc(50% - 4.5px);
    top: calc(50% - 4.5px);
    -webkit-transition: -webkit-transform .2s .2s;
    -ms-transition: -ms-transform .2s .2s;
    transition: transform .2s .2s; }
.rule-trade.is--active .rulesSelect_content-rules-rule-toggle {
  width: 0;
  opacity: 0;
  -webkit-transition: -webkit-width .2s .2s, opacity .2s .2s;
  -ms-transition: -ms-width .2s .2s, opacity .2s .2s;
  transition: width .2s .2s, opacity .2s .2s; }
  .rule-trade.is--active .rulesSelect_content-rules-rule-toggle:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform .2s;
    -ms-transition: -ms-transform .2s;
    transition: transform .2s; }
.rule-trade.is--active .rulesSelect_content-rules-rule-select {
  overflow-y: scroll;
  height: 100px; }

/*=======================*/
/* CARD SELECTION SCREEN
/*=======================*/
#screen_cardSelect {
  display: flex;
  flex-direction: column; }

/* HEADER --------------*/
.cardSelect_header-ownedCards,
.cardSelect_header-uniqueCopies {
  margin-top: 1em; }

.cardSelect_header-ownedCards-label,
.cardSelect_header-uniqueCopies-label {
  text-transform: none; }

.cardSelect_header-ownedCards-count,
.cardSelect_header-uniqueCopies-count {
  text-align: right; }

.cardSelect_header-deck {
  height: 190px;
  display: flex;
  position: relative; }

.cardSelect_header-deck-holder {
  width: 150px;
  height: 100%;
  margin-left: 1em;
  position: relative;
  padding-top: 2px; }

.cardSelect_header-deck-holder .svg-cardBG {
  stroke-width: 1;
  stroke: rgba(255, 255, 255, 0.05); }

/* CONTENT --------------*/
.cardSelect_content-confirm {
  background: rgba(40, 51, 120, 0.5); }
  .cardSelect_content-confirm-choice {
    display: flex;
    align-items: center;
    margin-right: 1em;
    height: 100%; }
    .cardSelect_content-confirm-choice-element {
      position: relative;
      display: inline-block;
      margin-right: .5em; }

.cardSelect_content-screenNav-choice {
  display: flex;
  align-items: center;
  margin-right: 1em;
  height: 100%; }

.cardSelect_content-scroll {
  height: 270px;
  top: calc(50% - 270px / 2);
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 50px; }

.cardSelect_content-nav-prevBtn, .cardSelect_content-nav-nextBtn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  z-index: 1; }
  .cardSelect_content-nav-prevBtn-hoverFX, .cardSelect_content-nav-nextBtn-hoverFX {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-all .2s .2s ease-in;
    -ms-transition: -ms-all .2s .2s ease-in;
    transition: all .2s .2s ease-in;
    border: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden; }
    .cardSelect_content-nav-prevBtn-hoverFX:after, .cardSelect_content-nav-nextBtn-hoverFX:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.85);
      -webkit-transition: -webkit-all .2s .2s ease-in;
      -ms-transition: -ms-all .2s .2s ease-in;
      transition: all .2s .2s ease-in; }
  .cardSelect_content-nav-prevBtn:hover .cardSelect_content-nav-prevBtn-hoverFX, .cardSelect_content-nav-prevBtn:hover .cardSelect_content-nav-nextBtn-hoverFX, .cardSelect_content-nav-nextBtn:hover .cardSelect_content-nav-prevBtn-hoverFX, .cardSelect_content-nav-nextBtn:hover .cardSelect_content-nav-nextBtn-hoverFX {
    border: 1px solid #FFF; }
    .cardSelect_content-nav-prevBtn:hover .cardSelect_content-nav-prevBtn-hoverFX:after, .cardSelect_content-nav-prevBtn:hover .cardSelect_content-nav-nextBtn-hoverFX:after, .cardSelect_content-nav-nextBtn:hover .cardSelect_content-nav-prevBtn-hoverFX:after, .cardSelect_content-nav-nextBtn:hover .cardSelect_content-nav-nextBtn-hoverFX:after {
      background: #FFF;
      -webkit-transition: -webkit-all .2s ease-out;
      -ms-transition: -ms-all .2s ease-out;
      transition: all .2s ease-out; }

.cardSelect_content-nav-prevBtn {
  left: 21px; }

.cardSelect_content-nav-nextBtn {
  right: 21px; }

.cardSelect_content-album {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative; }

.cardSelect_content-album.flex-justify-start .cardSelect_content-album-card {
  margin-right: 1.5em; }
.cardSelect_content-album-card.is--disabled .cardSelect_content-album-card-visual {
  filter: saturate(0); }
  .cardSelect_content-album-card.is--disabled .cardSelect_content-album-card-visual .card {
    cursor: default; }
.cardSelect_content-album-card.is--disabled .cardSelect_content-album-card-label {
  color: #3d4043; }
.cardSelect_content-album-card-copiesCount {
  text-align: right; }

/*=======================*/
/* GAME SCREEN
/*=======================*/
/* BOARD --------------*/
#board {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 675px;
  align-content: space-between;
  justify-content: space-between;
  left: calc(50% - 270px);
  top: calc(50% - 337.5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25), 0 0 0px 5px rgba(255, 255, 255, 0.05) inset;
  padding: 12px; }

#board:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 5px;
  top: 5px; }

.case {
  width: calc(33.333% - 4.5px);
  height: calc(33.333% - 4.5px);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.25); }

#case11 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTL.png) no-repeat 0% 0%, url(../assets/img/ui/board_cornerBR.png) no-repeat 100% 100%; }

#case12 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerBL.png) no-repeat 0% 100%, url(../assets/img/ui/board_cornerBR.png) no-repeat 100% 100%; }

#case13 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTR.png) no-repeat 100% 0%, url(../assets/img/ui/board_cornerBL.png) no-repeat 0% 100%; }

#case21 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTR.png) no-repeat 100% 0%, url(../assets/img/ui/board_cornerBR.png) no-repeat 100% 100%; }

#case22 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTL.png) no-repeat 0% 0%, url(../assets/img/ui/board_cornerTR.png) no-repeat 100% 0%, url(../assets/img/ui/board_cornerBL.png) no-repeat 0% 100%, url(../assets/img/ui/board_cornerBR.png) no-repeat 100% 100%; }

#case23 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTL.png) no-repeat 0% 0%, url(../assets/img/ui/board_cornerBL.png) no-repeat 0% 100%; }

#case31 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTR.png) no-repeat 100% 0%, url(../assets/img/ui/board_cornerBL.png) no-repeat 0% 100%; }

#case32 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTL.png) no-repeat 0% 0%, url(../assets/img/ui/board_cornerTR.png) no-repeat 100% 0%; }

#case33 {
  background: url(../assets/img/ui/board_caseBG.png) no-repeat 50%, url(../assets/img/ui/board_cornerTL.png) no-repeat 0% 0%, url(../assets/img/ui/board_cornerBR.png) no-repeat 100% 100%; }

.element-fire:before, .element-ice:before, .element-wind:before, .element-earth:before,
.element-water:before, .element-thunder:before, .element-poison:before, .element-holy:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute; }
.element-fire:after, .element-ice:after, .element-wind:after, .element-earth:after,
.element-water:after, .element-thunder:after, .element-poison:after, .element-holy:after {
  position: absolute;
  width: 100%;
  height: 1em;
  text-align: center;
  top: calc(50% - .5em);
  z-index: 999;
  font-size: 36px;
  font-weight: 500;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  opacity: 0;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: -webkit-all .4s ease-out;
  -ms-transition: -ms-all .4s ease-out;
  transition: all .4s ease-out; }
.element-fire.has--bonus:after, .element-fire.has--penalty:after, .element-ice.has--bonus:after, .element-ice.has--penalty:after, .element-wind.has--bonus:after, .element-wind.has--penalty:after, .element-earth.has--bonus:after, .element-earth.has--penalty:after,
.element-water.has--bonus:after,
.element-water.has--penalty:after, .element-thunder.has--bonus:after, .element-thunder.has--penalty:after, .element-poison.has--bonus:after, .element-poison.has--penalty:after, .element-holy.has--bonus:after, .element-holy.has--penalty:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
.element-fire.has--bonus:after, .element-ice.has--bonus:after, .element-wind.has--bonus:after, .element-earth.has--bonus:after,
.element-water.has--bonus:after, .element-thunder.has--bonus:after, .element-poison.has--bonus:after, .element-holy.has--bonus:after {
  content: "+1"; }
.element-fire.has--penalty:after, .element-ice.has--penalty:after, .element-wind.has--penalty:after, .element-earth.has--penalty:after,
.element-water.has--penalty:after, .element-thunder.has--penalty:after, .element-poison.has--penalty:after, .element-holy.has--penalty:after {
  content: "-1"; }

.element-fire:before {
  background: url(../assets/img/ui/elem_fire.png) no-repeat 50%; }

.element-ice:before {
  background: url(../assets/img/ui/elem_ice.png) no-repeat 50%; }

.element-wind:before {
  background: url(../assets/img/ui/elem_wind.png) no-repeat 50%; }

.element-earth:before {
  background: url(../assets/img/ui/elem_earth.png) no-repeat 50%; }

.element-water:before {
  background: url(../assets/img/ui/elem_water.png) no-repeat 50%; }

.element-thunder:before {
  background: url(../assets/img/ui/elem_thunder.png) no-repeat 50%; }

.element-poison:before {
  background: url(../assets/img/ui/elem_poison.png) no-repeat 50%; }

.element-holy:before {
  background: url(../assets/img/ui/elem_holy.png) no-repeat 50%; }

/* PLAYER HUD --------------*/
.game_playerHUD-opponent, .game_playerHUD-user {
  width: 540px;
  height: 500px;
  top: calc(50% - (337.5px - 100px));
  position: absolute; }

.game_playerHUD-opponent {
  right: calc(50% + (270px + 50px)); }

.game_playerHUD-user {
  left: calc(50% + (270px + 50px)); }

.game_playerHUD-bar {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  text-transform: none;
  font-weight: 500;
  z-index: 0; }

.game_playerHUD-bar:before {
  content: "";
  position: absolute;
  width: calc(100% + 50px);
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1; }

.game_playerHUD-opponent .game_playerHUD-bar {
  padding-left: 125px; }

.game_playerHUD-opponent.is--active .game_playerHUD-bar {
  text-shadow: 0 0 15px #eb3547; }

.game_playerHUD-opponent .game_playerHUD-bar:before {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.75) 0%, transparent 100%); }

.game_playerHUD-opponent.is--active .game_playerHUD-bar:before {
  background: linear-gradient(to left, rgba(235, 53, 71, 0.75) 0%, rgba(235, 53, 71, 0) 100%); }

.game_playerHUD-user .game_playerHUD-bar {
  text-align: right;
  padding-right: 125px; }

.game_playerHUD-user.is--active .game_playerHUD-bar {
  text-shadow: 0 0 15px #5377fb; }

.game_playerHUD-user .game_playerHUD-bar:before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  left: -50px; }

.game_playerHUD-user.is--active .game_playerHUD-bar:before {
  background: linear-gradient(to right, rgba(40, 51, 120, 0.75) 0%, rgba(40, 51, 120, 0) 100%); }

.game_playerHUD-bar-type {
  position: absolute;
  top: -1.5em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.125em; }

.game_playerHUD-bar-state {
  position: absolute;
  bottom: -1.5em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0;
  opacity: 0; }

.game_playerHUD-user .game_playerHUD-bar-state {
  right: 125px; }

.is--active.game_playerHUD-opponent .game_playerHUD-bar-state, .is--active.game_playerHUD-user .game_playerHUD-bar-state {
  letter-spacing: 0.75em;
  opacity: 1;
  -webkit-animation: isPlaying 4s ease-in-out infinite;
  -ms-animation: isPlaying 4s ease-in-out infinite;
  animation: isPlaying 4s ease-in-out infinite; }

@-webkit-keyframes isPlaying {
  0% {
    opacity: 0;
    letter-spacing: 0; }
  10%, 20% {
    opacity: 1; }
  75%, 100% {
    opacity: 0;
    letter-spacing: 0.75em; } }
/*@-moz-keyframes isPlaying {
  @content;
}  */
@-ms-keyframes isPlaying {
  0% {
    opacity: 0;
    letter-spacing: 0; }
  10%, 20% {
    opacity: 1; }
  75%, 100% {
    opacity: 0;
    letter-spacing: 0.75em; } }
/*@-o-keyframes isPlaying {
  @content;
}*/
@keyframes isPlaying {
  0% {
    opacity: 0;
    letter-spacing: 0; }
  10%, 20% {
    opacity: 1; }
  75%, 100% {
    opacity: 0;
    letter-spacing: 0.75em; } }
.game_playerHUD-score {
  position: absolute;
  font-size: 96px;
  vertical-align: middle;
  text-align: center;
  top: -32px;
  font-weight: 500; }

.game_playerHUD-opponent .game_playerHUD-score {
  right: 0; }

.game_playerHUD-user .game_playerHUD-score {
  left: 0; }

.game_playerHUD-avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(-100px / 4);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25), 0 0 0px 5px rgba(255, 255, 255, 0.05) inset;
  padding: 5px;
  z-index: 0;
  -webkit-transition: -webkit-background .2s .2s, box-shadow .2s;
  -ms-transition: -ms-background .2s .2s, box-shadow .2s;
  transition: background .2s .2s, box-shadow .2s; }

.game_playerHUD-opponent .game_playerHUD-avatar {
  left: 0; }

.game_playerHUD-user .game_playerHUD-avatar {
  right: 0; }

.game_playerHUD-avatar:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
  z-index: -1;
  -webkit-transition: -webkit-box-shadow .2s;
  -ms-transition: -ms-box-shadow .2s;
  transition: box-shadow .2s; }

.game_playerHUD-user.is--active .game_playerHUD-avatar {
  background: rgba(71, 53, 235, 0.25);
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25), 0 0 0px 5px rgba(255, 255, 255, 0.05) inset, 0 0 18px 4px rgba(40, 0, 255, 0.25); }
  .game_playerHUD-user.is--active .game_playerHUD-avatar:before {
    box-shadow: 0 0 18px 8px rgba(33, 150, 243, 0.25); }

.game_playerHUD-opponent.is--active .game_playerHUD-avatar {
  background: rgba(235, 53, 71, 0.25);
  box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.25), 0 0 0px 5px rgba(255, 255, 255, 0.05) inset, 0 0 18px 4px rgba(255, 0, 40, 0.25); }
  .game_playerHUD-opponent.is--active .game_playerHUD-avatar:before {
    box-shadow: 0 0 18px 8px rgba(243, 33, 36, 0.25); }

.game_playerHUD-avatar:after {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
  box-shadow: 2.5px 2.5px 2.5px 0px rgba(0, 0, 0, 0.5) inset; }

.game_playerHUD-avatar img {
  width: 100%;
  height: 100%; }

/* DECK HOLDERS --------------*/
.game_deck {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0; }

.game_deck-holder {
  width: 150px;
  height: 190px;
  position: relative;
  padding-top: 2px; }

.game_deck-holder:nth-child(1),
.game_deck-holder:nth-child(2),
.game_deck-holder:nth-child(4) {
  margin-right: 1em; }

.game_deck-holder:nth-child(1),
.game_deck-holder:nth-child(2),
.game_deck-holder:nth-child(3) {
  margin-bottom: 1em; }

.game_deck-holder .svg-cardBG {
  stroke-width: 1;
  stroke: rgba(255, 255, 255, 0.05);
  fill: rgba(0, 0, 0, 0.5); }

.game_overlay-endGame-confirmBtn {
  position: relative;
  margin-top: 50px; }

.game_overlay-endGame-album-user,
.game_overlay-endGame-album-opponent {
  height: 270px;
  display: flex;
  position: relative; }

.game_overlay-endGame-album-opponent {
  margin-top: 50px;
  margin-bottom: 1.5em; }

.game_overlay-endGame-album-card {
  height: 270px;
  margin-right: 1.5em;
  border: none; }

/*# sourceMappingURL=main.css.map */
