/*=======================*/
/* VARIABLES, FUNCTIONS
/*=======================*/
$uiAssetsPath   : "../assets/img/ui/";
$fontAssetsPath : "../assets/fonts/";

$globalPadding  : 50px;
$btnSize_big    : 60px;

$boardSize      : 500px;
$cardRatio      : 113 / 138;
$cardWidth      : 150px;

$color_darkGrey : #3d4043;
$color_red      : rgba(235, 53, 71, 1);
$color_blue     : rgba(40, 51, 120, 1);

$fontSize_UI    : 24px;
$fontSize_score : 128px;
$fontSize_btn   : 16px;
$fontSize_h1    : 60px;


/*=======================*/
/* MIXINS
/*=======================*/
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  /*@-moz-keyframes #{$animation-name} {
    @content;
  }  */
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  /*@-o-keyframes #{$animation-name} {
    @content;
  }*/ 
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  //-moz-animation: #{$str};
  -ms-animation: #{$str};
  //-o-animation: #{$str};
  animation: #{$str};      
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  //-moz-transform: #{$str};
  -ms-transform: #{$str};
  //-o-transform: #{$str};
  transform: #{$str};
}

@mixin transition($str) {
  -webkit-transition: -webkit-#{$str};
  //-moz-transition: -moz-#{$str};
  -ms-transition: -ms-#{$str};
  //-o-transition: -o-#{$str};
  transition: #{$str};
}

@mixin fullSizeAbs ($content: false) {
    @if $content { content: $content; }
    width: 100%;
    height: 100%;
    position: absolute;
}

@mixin remainingSpace () {
    flex:1;
    position: relative;
}


/*=======================*/
/* FONT FACES
/*=======================*/
@font-face {
    font-family: "AvantGarde LT";
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Medium.eot" });
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Medium.eot?#iefix" }) format("embedded-opentype"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Medium.woff2" }) format("woff2"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Medium.woff" }) format("woff"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Medium.ttf" }) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "AvantGarde LT";
    src: url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.eot" });
    src: url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.eot?#iefix" }) format("embedded-opentype"),
        url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.woff2" }) format("woff2"),
        url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.woff" }) format("woff"),
        url(#{ $fontAssetsPath + "AvantGardeLT-ExtraLight.ttf" }) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "AvantGarde LT";
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Bold.eot"});
    src: url(#{ $fontAssetsPath + "AvantGardeLT-Bold.eot?#iefix"}) format("embedded-opentype"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Bold.woff2"}) format("woff2"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Bold.woff"}) format("woff"),
        url(#{ $fontAssetsPath + "AvantGardeLT-Bold.ttf"}) format("truetype");
    font-weight: 700;
    font-style: normal;
}


/*=======================*/
/* 12 COLUMNS RESPONSIVE GRID
/*=======================*/
.row { display:flex; }
.col_1 { flex-basis: 8.33333333%; }
.col_2 { flex-basis: 16.66666667%; }
.col_3 { flex-basis: 25%; }
.col_4 { flex-basis: 33.33333333%; }
.col_5 { flex-basis: 41.66666667%; }
.col_6 { flex-basis: 50%; }
.col_7 { flex-basis: 58.33333333%; }
.col_8 { flex-basis: 66.66666667%; }
.col_9 { flex-basis: 75%; }
.col_10 { flex-basis: 83.33333333%; }
.col_11 { flex-basis: 91.66666667%; }
.col_12 { flex-basis: 100%; }


/*=======================*/
/* GENERAL RULES
/*=======================*/
/*::-webkit-scrollbar-track {
    background-color: transparent;
}*/

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.75);;  
}

* {
    -webkit-user-select:none;
    user-select:none;
    cursor: inherit;
}

html, body {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

html {
    background: #000;
    font-family: "AvantGarde LT", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color:#FFF;
}

body {
    transform-origin: 50%;
    width: 100%;
    height: 100%;
    cursor:default;
}

hr {
    position: relative;
    width: calc(100% - 17.5px);
    margin-left: 7.5px;
}

hr:after, hr:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: 1px #FFF solid;
    transform: rotate(45deg);
    top: -2.5px;
}

hr:after { left: -7.5px; }
hr:before { right: -8.5px; }

h1 {
    font-size: $fontSize_h1;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#app {
    @include fullSizeAbs();
}

.color-darkGrey { color: $color_darkGrey; }
.weight-medium { font-weight: 500; }
.weight-bold { font-weight: 700; }
.flex-justify-sb { justify-content: space-between; }
.flex-justify-start { justify-content: flex-start; }


/*=======================*/
/* COMPONENTS
/*=======================*/
/* Containers ------------*/
.screen {
    @include fullSizeAbs();
    top:0;
    left:0;
}

/* Buttons ------------*/
%btn {
    cursor: pointer;
    font-size: $fontSize_btn;
}

%btn-rect {
    @extend %btn;

    border:1px solid #FFF;
    overflow:hidden;
    padding: .3em;

    &:after {
        @include fullSizeAbs("");
        background: #FFF;
        left:0;
        top:-100%;

        @include transition("top .15s ease-in");
        @include transform("translate3d(0, 0, 0)");
    }

    &:hover, &.is--active {
        background: #FFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        mix-blend-mode: hard-light;

        &:after {
            top:0;
            mix-blend-mode: exclusion;
        }
    }
}

%btn-diamond {
    @extend %btn;

    &-hoverFX {
        @include fullSizeAbs();
        @include transform("rotate(45deg)");
        border: 1px solid #FFF;
        overflow: hidden;

        &:after {
            @include fullSizeAbs("");
            top:200%;
            left:200%;

            @include transition("all .2s .2s ease-in");
        }
    }

    &:hover {
        & %btn-diamond-hoverFX {
            &:after {
                background: #FFF;
                top:0;
                left:0;

                @include transition("all .2s ease-out");
            }
        }
    }
}

%arrow {
    @include fullSizeAbs();
    background: url(#{ $uiAssetsPath + "arrow.png"}) no-repeat 50%;
}

.arrow-up, .arrow-right, .arrow-down, .arrow-left {
    @extend %arrow;
}

.arrow-up   { @include transform("rotate(-90deg)"); }
.arrow-down { @include transform("rotate(90deg)"); }
.arrow-left { @include transform("rotate(180deg)"); }

%btn-diamond:hover %arrow {
    mix-blend-mode: exclusion;
}


/*=======================*/
/* FOOTER
/*=======================*/
#footer {
    width: 100%;
    height: 190px;
    bottom: 0;
    padding: 0px $globalPadding $globalPadding $globalPadding;
    position: absolute;
    display: flex;
    align-items: flex-end;

    &.--showLogo {
        & .footer_line {
            -webkit-clip-path: polygon(
                0px 1px,
                85px 1px,
                85px 0px,
                220px 0px,
                220px 1px,
                100% 1px,
                100% 0px,
                0px 0px
            );
        }
    }
}

.footer_line {
    background: #FFF;
    width: 100%;
    height: 1px;
    position: absolute;
    left:0;
    top:50%;

    @include transform("translate3d(0, 0, 0)");
}

.footer_logo {
    width: 190px;
    height: 145px;
    margin-right: 1em;
    display: flex;
    align-items: flex-end;

    & .svg-logo {
        fill: rgba(255, 255, 255, 1);
        stroke: rgba(255, 255, 255, 0);
        cursor:pointer;
        @include remainingSpace();

        @include transition("fill .15s, stroke .15s");
    }

    &:not(.tweening):hover .svg-logo {
        fill: rgba(0, 0, 0, 0.25);
        stroke: rgba(255, 255, 255, 1);
    }
}

.footer_menu {
    display: flex;
    align-items: flex-end;
    margin-right: 1em;

    &-element {
        @extend %btn-rect;

        position: relative;
        display: inline-block;
        margin-right: .5em;
    }
}

.footer_social {
    display: flex;
    align-items: flex-end;
    
    &-element {
        @extend %btn-diamond;

        position: relative;
        display: inline-block;
        margin-right: 1em;
        vertical-align: super;
        padding: .15em;
        bottom: .15em;
        overflow: visible !important;

        &-hoverFX {
            @extend %btn-diamond-hoverFX;
        }

        &:hover {
            & .footer_social-icon:before {
                mix-blend-mode: exclusion;
            }
        }
    }

    &-icon {
        &:after {
            content: "\n\n";
            visibility: hidden;

            font-family: "socicon" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &:before {
            position: absolute;
            left: calc(50% - .75em);
            top: calc(50% - (.75em / 2));
            font-size: .75em;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: text-bottom;
        }
    }
}

.footer_text {
    position: absolute;
    right: $globalPadding;
    bottom: $globalPadding;
    cursor: default;

    &-span {
        font-size: .75em;
        margin-right: .5em;
    }
}


/*=======================*/
/* TITLE SCREEN
/*=======================*/
.title_logo {
    width: 630px;
    height: 485px;
    position: absolute;
    left: calc(50% - 630px / 2);
    top: 12.5%;

    & .svg-logo {
        fill: rgba(255, 255, 255, 1);
    }
}

.title_startBtn {
    @extend %btn-diamond;

    width: $btnSize_big;
    height: $btnSize_big;
    position: absolute;
    left:calc(50% - #{ $btnSize_big / 2 });
    top: 70%;

    &:before {
        @include fullSizeAbs("");
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0),
                    0px 0px 10px 0 rgba(0, 0, 0, 0);

        @include transform("scale(0.85) rotate(45deg)");
        @include transition("box-shadow .2s ease-in");
    }

    &:after {
        content:"Start";
        width:100px;
        text-align: center;
        position: absolute;
        left: calc(50% - 50px);
        bottom: -3em;
        height: 1em;
        transform: translate3d(0,0,0);

        @include transition("letter-spacing .15s .1s, text-indent .15s .1s");
    }

    &:hover {
        &:before {
            box-shadow: -25px 25px 0 0 rgba(0, 0, 0, .25),
                        25px -25px 0 0 rgba(0, 0, 0, .25);

            @include transition("box-shadow .2s .1s ease-out");
        }

        &:after {
            letter-spacing: 0.25em;
            text-indent: 0.25em;
        }
    }

    &-hoverFX {
        @extend %btn-diamond-hoverFX;
    }
}


/*=======================*/
/* MENU SCREEN
/*=======================*/
/* BOARD --------------*/
#menu {
    width: 100px;
    height: 100px;
    position: absolute;
    background: aquamarine;
    text-align: center;
}

%header {
    height: 300px;
    width: 100%;
    padding: $globalPadding;
    background: rgba(0, 0, 0, 0.95);
    position: relative;
    z-index: 1;
    display: flex;

    &:before {
        @include fullSizeAbs("");
        top: 0;
        left: 0;
        background: url(#{ $uiAssetsPath + "headerPattern.jpg" });
        opacity: .25;
        z-index: -1;
    }

    &-leftCol {
        width: 370px;
    }

    &-rightCol {
        @include remainingSpace();
        display: flex;
        justify-content: flex-end;
    }
}

%content {
    width: 100%;
    height: calc(100% - 490px);
    position: relative;
    padding: $globalPadding;
}

%content-prompt {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: $globalPadding;
    padding: 0 $globalPadding;
}

%content-screenNav {
    @extend %content-prompt;

    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;

    &-element {
        @extend %btn-rect;

        position: relative;
        display: inline-block;
        margin-right: .5em;
    }
}


/*=======================*/
/* RULES SCREEN
/*=======================*/
#screen_rulesSelect {
    display: flex;
    flex-direction: column;
}

/* HEADER --------------*/
.rulesSelect_header {
    @extend %header;

    &-leftCol {
        @extend %header-leftCol;
    }

    &-rightCol {
        @extend %header-rightCol;
    }
}

/* CONTENT --------------*/
.rulesSelect_content {
    @extend %content
}

.rulesSelect_content-screenNav {
    @extend %content-screenNav;

    &-choice {
        display: flex;
        align-items: center;
        margin-right: 1em;
        height: 100%;

        &-element {
            @extend %content-screenNav-element;
        }
    }
}

.rulesSelect_content-rules {
    height: 270px;
    top: calc(50% - 270px / 2);
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    padding: 0 $globalPadding;

    & .col {
        width: 50%;
        margin-right: 1em;
    }
}

.rulesSelect_content-rules-rule {
    display: flex;
    height: $globalPadding;
    line-height: $globalPadding;
    margin-bottom: 1em;

    &.is--on, &.is--off, &.rule-trade {
        cursor:pointer;
    }
}

.rulesSelect_content-rules-rule-label {
    text-transform: none;
    flex: 1;
    padding-left: 1em;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
}

.rulesSelect_content-rules-rule-toggle {
    position: relative;
    width: $globalPadding;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    @include transition("background .2s");

    .rulesSelect_content-rules-rule.is--on & {
        background: transparentize($color_blue, 0.5);
    }

    .rulesSelect_content-rules-rule.is--off & {
        background: transparentize($color_red, 0.5);
    }
}

.rulesSelect_content-rules-rule-select {
    text-transform: none;
    flex: 1;
    padding-left: 1em;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    height: 100%;

    @include transition("height .2s .2s");
}

.rule-trade {
    & .rulesSelect_content-rules-rule-toggle {
        @include transition("width .2s, opacity .2s");

        &:after {
            content: "";
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #FFF;
            left:calc(50% - 4.5px);
            top:calc(50% - 4.5px);

            @include transition("transform .2s .2s");
        }
    }

    &.is--active {
        & .rulesSelect_content-rules-rule-toggle {
            width: 0;
            opacity: 0;
            @include transition("width .2s .2s, opacity .2s .2s");

            &:after {
                @include transform("rotate(90deg)");
                @include transition("transform .2s");
            }
        }

        & .rulesSelect_content-rules-rule-select {
            overflow-y: scroll;
            height: 100px;
        }
    }
}


/*=======================*/
/* CARD SELECTION SCREEN
/*=======================*/
#screen_cardSelect {
    display: flex;
    flex-direction: column;
}

/* HEADER --------------*/
.cardSelect_header {
    @extend %header;

    &-leftCol {
        @extend %header-leftCol;
    }

    &-rightCol {
        @extend %header-rightCol;
    }
}

.cardSelect_header-ownedCards,
.cardSelect_header-uniqueCopies {
    @extend .row;
    margin-top: 1em;
}

.cardSelect_header-ownedCards-label,
.cardSelect_header-uniqueCopies-label {
    @extend .col_9;
    text-transform: none;
}

.cardSelect_header-ownedCards-count,
.cardSelect_header-uniqueCopies-count {
    @extend .col_3, .weight-medium;
    text-align: right;
}

.cardSelect_header-deck {
    height: $cardWidth / $cardRatio;
    display: flex;
    position: relative;
}

.cardSelect_header-deck-holder {
    width: $cardWidth;
    height: 100%;
    margin-left: 1em;
    position:relative;
}

.cardSelect_header-deck-holder .svg-cardBG {
    stroke-width: 1;
    stroke: rgba(255, 255, 255, .05);
}

/* CONTENT --------------*/
.cardSelect_content {
    @extend %content
}

.cardSelect_content-confirm, .cardSelect_content-screenNav {
    @extend %content-prompt;
}

.cardSelect_content-confirm {
    background: transparentize($color_blue, 0.5);

    &-choice {
        display: flex;
        align-items: center;
        margin-right: 1em;
        height: 100%;

        &-element {
            @extend %btn-rect;

            position: relative;
            display: inline-block;
            margin-right: .5em;
        }
    }
}

.cardSelect_content-screenNav {
    @extend %content-screenNav;

    &-choice {
        display: flex;
        align-items: center;
        margin-right: 1em;
        height: 100%;

        &-element {
            @extend %content-screenNav-element;
        }
    }
}

.cardSelect_content-scroll {
    height: 270px;
    top: calc(50% - 270px / 2);
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 $globalPadding;
}

.cardSelect_content-nav-prevBtn, .cardSelect_content-nav-nextBtn {
    @extend %btn-diamond;

    width: $btnSize_big;
    height: $btnSize_big;
    position: absolute;
    top: calc(50% - #{ $btnSize_big / 2 });
    z-index: 1;

    &-hoverFX {
        @include fullSizeAbs();
        @include transform("rotate(45deg)");
        @include transition("all .2s .2s ease-in");
        border: 1px solid rgba(255, 255, 255, .25);
        overflow: hidden;

        &:after {
            @include fullSizeAbs("");
            background: rgba(0, 0, 0, .85);

            @include transition("all .2s .2s ease-in");
        }
    }

    &:hover {
        & .cardSelect_content-nav-prevBtn-hoverFX,
        & .cardSelect_content-nav-nextBtn-hoverFX {
            border: 1px solid #FFF;

            &:after {
                background: #FFF;

                @include transition("all .2s ease-out");
            }
        }
    }
}

.cardSelect_content-nav-prevBtn { left: #{ $globalPadding / 2 - 4px }; }
.cardSelect_content-nav-nextBtn { right: #{ $globalPadding / 2 - 4px }; }

.cardSelect_content-album {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.cardSelect_content-album-card {
    width: 180px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .25);
    display: flex;
    flex-direction: column;

    .cardSelect_content-album.flex-justify-start & {
        margin-right: 1.5em;
    }

    &.is--disabled {
        & .cardSelect_content-album-card-visual {
            filter: saturate(0);

            & .card {
                cursor: default;
            }
        }

        & .cardSelect_content-album-card-label {
            color: $color_darkGrey;
        }
    }
}

.cardSelect_content-album-card-visual {
    @include remainingSpace();

    & .card {
        position: relative;
        left: calc(50% - #{ $cardWidth / 2 + 2px});
        top: calc(50% - #{ ($cardWidth / $cardRatio) / 2 + 4px });
    }
}

.cardSelect_content-album-card-label {
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 50px;
    padding: 0 15px;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    text-transform: none;
}

.cardSelect_content-album-card-name {
    @extend .col_9;
}

.cardSelect_content-album-card-copiesCount {
    @extend .col_3, .weight-medium;
    text-align: right;
}


/*=======================*/
/* GAME SCREEN
/*=======================*/
/* BOARD --------------*/
#board {
    position: absolute;
    display:flex;
    flex-wrap:wrap;
    width: $boardSize;
    height: $boardSize / $cardRatio;
    align-content: space-between;
    justify-content: space-between;
    left:calc(50% - #{ $boardSize / 2 });
    top:calc(50% - #{ ($boardSize / $cardRatio) / 2 });
}

#board:after {
    content: "";
    position: absolute;
    //background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 40%;

    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a8000000", endColorstr="#00000000",GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#board:before {
    content: "";
    position: absolute;
    background: #111;
    width: 105%;
    height: 105%;
    z-index: -1;
    left: -2.5%;
    top: -2.5%;
    border-radius: 5%;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.1) inset,
                0 0px 8px 10px rgba(255, 255, 255, 0.1) inset,
                5px 5px 2px 0px rgba(0, 0, 0, .25);
}

.case {
    width: 33.15%;
    height: 33.15%;
    position: relative;
    background: #1E2128;
    border-radius: 2.5%;
    box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.1) inset,
                0 0px 1px 2px rgba(255, 255, 255, 0.05) inset;
}

/*.case:after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.125) 0%, rgba(0,0,0,0) 100%); // FF3.6-15
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.125) 0%, rgba(0,0,0,0) 100%); // Chrome10-25,Safari5.1-6
    background: linear-gradient(to top, rgba(0, 0, 0, 0.125) 0%, transparent 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a1000000", endColorstr="#00000000",GradientType=0 ); // IE6-9 fallback on horizontal gradient
}*/

#case11 { border-radius: 15% 2.5% 2.5% 2.5%; }
#case13 { border-radius: 2.5% 15% 2.5% 2.5%; }
#case31 { border-radius: 2.5% 2.5% 2.5% 15%; }
#case33 { border-radius: 2.5% 2.5% 15% 2.5%; }

#backLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(#{ $uiAssetsPath + "logoTest.png" }) no-repeat 50%;
    z-index: 2;
    background-size: 95%;
    opacity: .5;
}

/* CARDS --------------*/
.card {
    cursor: pointer;
    width: $cardWidth;
    height: $cardWidth / $cardRatio;
    position: fixed;
    left:0;
    top:0;
    transform-style: preserve-3d;

    &:hover {
        @include transform("scale(1.1)");
    }
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front { z-index: 2; }

.card .svg-cardBG {
    margin-left: 2px;
    margin-top: 2px;
    position: absolute;
    @include transition("fill .2s");
}

.card-blue .svg-cardBG, .card:hover .svg-cardBG  { fill: transparentize($color_blue, 0.5); }
.card-red .svg-cardBG   { fill: transparentize($color_red, 0.5); }
.card-black .svg-cardBG { fill: rgba(0, 0, 0, 0.5); }

.card img { position: relative; }

.card-back {
    background: url(#{ $uiAssetsPath + "card_back.png" });
    z-index: 1;

    @include transform("rotateX(180deg)");
}

.card-blue:nth-child(1), .card-red:nth-child(6)  { z-index: 9999; }
.card-blue:nth-child(2), .card-red:nth-child(7)  { z-index: 9998; }
.card-blue:nth-child(3), .card-red:nth-child(8)  { z-index: 9997; }
.card-blue:nth-child(4), .card-red:nth-child(9)  { z-index: 9996; }
.card-blue:nth-child(5), .card-red:nth-child(10) { z-index: 9995; }


/* PLAYER HUD --------------*/
.playerHUD {
    width:530px;
    height:380px;
    top: calc(50% - 380px / 2);
    position: absolute;
}

.playerHUD-opponent { right: calc(50% + (#{$boardSize / 2} + 50px)); }
.playerHUD-user     { left: calc(50% + (#{$boardSize / 2} + 50px)); }

.playerHUD-bar {
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size:$fontSize_UI;
}

.playerHUD-bar:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(2px);
    border-radius: 15px;
}

.playerHUD-opponent .playerHUD-bar               { padding-left: 100px; }
.playerHUD-opponent--active .playerHUD-bar       { text-shadow: 0 0 10px rgba(255, 215, 229, .75); }
.playerHUD-opponent .playerHUD-bar:after         { background: linear-gradient(to right, rgba(17, 17, 17, 0.7) 0%, rgba(17, 17, 17, 0) 100%); }
.playerHUD-opponent--active .playerHUD-bar:after { background: linear-gradient(to right, rgba(255, 58, 151, 0.7) 0%, rgba(255, 58, 151, 0) 100%); }

.playerHUD-user .playerHUD-bar               { text-align: right; padding-right: 100px; }
.playerHUD-user--active .playerHUD-bar       { text-shadow: 0 0 10px rgba(83, 216, 251, .75); }
.playerHUD-user .playerHUD-bar:after         { background: linear-gradient(to left, rgba(17, 17, 17, 0.7) 0%, rgba(17, 17, 17, 0) 100%); }
.playerHUD-user--active .playerHUD-bar:after { background: linear-gradient(to left, rgba(58, 179, 255, 0.7) 0%, rgba(58, 179, 255, 0) 100%); }

.playerHUD-score {
    position: absolute;
    font-size: $fontSize_score;
    vertical-align: middle;
    text-align: center;
    top: -32px;
    text-shadow: 6px 6px 0 rgba(130, 57, 17, .75);
}

.playerHUD-opponent .playerHUD-score { right:0; }
.playerHUD-user .playerHUD-score     { left:0; }

.playerHUD-avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    top: calc(-80px / 4);
}

.playerHUD-opponent .playerHUD-avatar { left: 0; }
.playerHUD-user .playerHUD-avatar     { right: 0; }

.playerHUD-avatar:before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    z-index: -1;
    left: -5px;
    top: -5px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, .5);

    background: rgb(251,223,147);
    background: -moz-linear-gradient(top, rgba(251,223,147,1) 0%, rgba(248,181,0,1) 49%, rgba(252,205,77,1) 50%, rgba(252,234,187,1) 100%);
    background: -webkit-linear-gradient(top, rgba(251,223,147,1) 0%,rgba(248,181,0,1) 49%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%);
    background: linear-gradient(to bottom, rgba(251,223,147,1) 0%,rgba(248,181,0,1) 49%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fbdf93", endColorstr="#fceabb",GradientType=0 );
}

.playerHUD-avatar:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .5) inset;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.playerHUD-avatar img { border-radius: 10px; }

.playerHUD-opponent--active .playerHUD-avatar        { box-shadow: 0 0 20px 10px rgba(255, 215, 229, 0.75); }
.playerHUD-opponent--active .playerHUD-avatar:before { box-shadow: 0 3px 3px 0px rgba(255, 170, 200, 0.75); }
.playerHUD-opponent--active .playerHUD-avatar:after  {
    box-shadow: 0 0px 4px 3px rgba(255, 170, 200, 0.75) inset,
                0 2px 4px 2px rgba(0, 0, 0, 0.5) inset,
                0 0px 4px 6px rgba(255, 255, 255, 0.75),
                0 0 7px 6px rgba(255, 170, 200, 0.75) inset;
}

.playerHUD-user--active .playerHUD-avatar        { box-shadow: 0 0 20px 10px rgba(83, 216, 251, 0.75); }
.playerHUD-user--active .playerHUD-avatar:before { box-shadow: 0 3px 3px 0px rgba(255, 170, 200, 0.75); }
.playerHUD-user--active .playerHUD-avatar:after  {
    box-shadow: 0 0px 4px 3px rgba(197, 241, 253, 0.75) inset,
                0 2px 4px 2px rgba(0, 0, 0, 0.5) inset,
                0 0px 4px 6px rgba(255, 255, 255, 0.75),
                0 0 7px 6px rgba(197, 241, 253, 0.75) inset;
}

/* DECK HOLDERS --------------*/
.deckHolder {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 195px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/*.playerHUD.opponent .deckHolder { flex-direction: row; }
.playerHUD.user .deckHolder     { flex-direction: row-reverse; }*/

.cardHolder             { width: calc(160px / 2); background: url(#{ $uiAssetsPath + "cardHolder.png" }) no-repeat left; }
.cardHolder:first-child { width: 160px; }

/*.playerHUD.opponent .cardHolder { background-position: right; }
.playerHUD.user .cardHolder     { background-position: left; }*/
