<figure>
    <figcaption>
        <span class="weight-bold">1.</span> Based on the universe of Final Fantasy XV, The Fifteenth Triad is a dueling card game for two players based on Final Fantasy VIII's Triple Triad; the rules are essentially the same.<br><br>
        On the left is what a Fifteenth Triad card looks like. In the top left corner of the card, you can find the rank of the card on each side. For example, this card has a rank of A on top, 5 on the right, 9 on bottom and 4 on the left. In the top right corner, you find the card's element if it has one, here it's Light.<br><br>
        Ranks go from 1 to A (10). The elements are: Fire, Ice, Water, Poison, Thunder, Rock, Wind, Light and Dark. There are no elements more powerful than another. They are only effective if the Element rule is on.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">2.</span> The two players take turns placing cards on the three-by-three grid.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">3.</span> The player who goes first is decided at random.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">4.</span> When it's your turn, you must place a card on one of the open spaces on the grid.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">5.</span> When a card is placed, the numbers representing its four ranks are compared to any adjacent cards.<br>
        If a rank on the card placed is greater than the rank it faces on an adjacent card, you will flip that card and capture it.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">6.</span> The goal is to capture and control more cards than your opponent.<br>
        When the board is filled, the player who controls more cards is the winner.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">7.</span> Depending on the Trade rule in effect, you may choose one or more cards from your opponent's deck.<br>
        You may select one of the following Trade rules: None, One, Difference, Direct and All.
    </figcaption>
</figure>
