<div class="rankings_main">
    <div class="rankings_rankinglist">
        <div class="rankings_rankinglist-scroll">
            <div class="rankings_rankinglist-element-group rankings_rankinglist-element group-playerRankings">
                <span class="weight-bold">Player rankings</span>
            </div>
            <div class="rankings_rankinglist-element-ranking rankings_rankinglist-element">
                <div class="rankings_rankinglist-element-ranking-avatar">
                    <div class="rankings_rankinglist-element-ranking-avatar-img"></div>
                </div>
                <div class="rankings_rankinglist-element-ranking-label">
                    <div class="rankings_rankinglist-element-ranking-label-name"></div>
                    <div class="rankings_rankinglist-element-ranking-label-leader">
                        <span></span> -- <span class="weight-bold"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rankings_leaderboard">
        <div class="rankings_leaderboard-logo"></div>
        <div class="rankings_leaderboard-ranks">
            <div class="rankings_leaderboard-ranks-scroll">
                <div class="rankings_leaderboard-ranks-wrapper">
                    <div class="rankings_leaderboard-ranks-rank-info rankings_leaderboard-ranks-rank">
                        <div class="rank-date">
                            <span class="weight-medium"></span> @ <span class="weight-medium"></span> (CET)
                        </div>
                        <div class="rank-stats"></div>
                        <div class="rank-rate"></div>
                        <div class="rank-points"></div>
                        <div class="rank-insigna"></div>
                    </div>
                    <div class="rankings_leaderboard-ranks-rank-ranker rankings_leaderboard-ranks-rank">
                        <div class="rank-number"></div>
                        <div class="rank-avatar">
                            <div class="rankings_leaderboard-ranks-rank-ranker-avatar">
                                <div class="rankings_leaderboard-ranks-rank-ranker-avatar-img"></div>
                            </div>
                        </div>
                        <div class="rank-rankerInfo">
                            <div class="rank-rankerInfo-name"></div>
                            <div class="rank-rankerInfo-title"></div>
                        </div>
                        <div class="rank-flag"></div>
                        <div class="rank-stats"></div>
                        <div class="rank-rate"></div>
                        <div class="rank-points"></div>
                        <div class="rank-insigna"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
