<div class="playerHUD playerHUD-opponent">
    <div class="playerHUD-bar"></div>
    <div class="playerHUD-avatar">
        <img src="">
    </div>
    <div class="playerHUD-score"></div>
    <ul class="deckHolder">
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
    </ul>
</div>
<div class="playerHUD user">
    <div class="playerHUD-bar"></div>
    <div class="playerHUD-avatar">
        <img src="">
    </div>
    <div class="playerHUD-score"></div>
    <ul class="deckHolder">
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
        <li class="cardHolder"></li>
    </ul>
</div>
<div id="cardsWrapper"></div>
<div id="board">
    <div id="backLogo"></div>
    <div id="case11" class="case"></div>
    <div id="case12" class="case"></div>
    <div id="case13" class="case"></div>
    <div id="case21" class="case"></div>
    <div id="case22" class="case"></div>
    <div id="case23" class="case"></div>
    <div id="case31" class="case"></div>
    <div id="case32" class="case"></div>
    <div id="case33" class="case"></div>
</div>
