<figure>
    <figcaption>
        <span class="weight-bold">1.</span> The "<span class="weight-medium">Ace of Cards</span>" ranking is updated daily (7:00am CET) and displays the ten players with the most Rank Points.<br>
        The Rank Points represent a player's relative skill to the others, allowing you to easily find an opponent with the same level of skill as you.<br><br>
        Whenever you participate in a ranked duel in the Lounge Room, you gain or lose points according to the duel's outcome and your opponent's skill.<br>
        In case of victory, you will gain more points if your opponent was ranked higher than you. Similarly in case of defeat, you will lose more points if your opponent was ranked lower than you. Note that the duel will not be ranked if its Trade rule is "None".<br><br>
        Every player starts with 1200 Rank Points. In case of inactivity, you will lose points daily until you participate in a ranked duel again according to the following:<br><br>
        <span class="weight-medium">7+ days:</span> 32 points per day<br>
        <span class="weight-medium">14+ days:</span> 64 points per day<br>
        <span class="weight-medium">28+ days:</span> 160 points per day<br>
        <span class="weight-medium">56+ days:</span> 320 points per day<br><br>
        However, your Rank Points cannot go below zero.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">2.</span> The "<span class="weight-medium">The Collector</span>" ranking is updated daily (7:00am CET) and displays the ten players with the widest card collection.<br>The points are calculated according to a player's amount of different cards, and total amount of cards.<br><br>
        The total amount of cards will be used to break the tie between two players having the same amount of different cards in their collection.
    </figcaption>
</figure>
