<div class="cardSelect_header">
    <div class="cardSelect_header-leftCol">
        <h1 class="cardSelect_header-title">
            <span class="weight-bold">Choose</span><br>
            your cards
        </h1>
        <hr>
        <div class="cardSelect_header-uniqueCopies">
            <div class="cardSelect_header-uniqueCopies-label">Unique copies</div>
            <div class="cardSelect_header-uniqueCopies-count">
                <%= uniqueCopiesCount %>
                <span class="color-darkGrey"> / <%= totalCardsCount %></span> 
            </div>
        </div>
        <div class="cardSelect_header-ownedCards">
            <div class="cardSelect_header-ownedCards-label">Total owned cards</div>
            <div class="cardSelect_header-ownedCards-count"><%= ownedCardsCount %></div>
        </div>
    </div>
    <div class="cardSelect_header-rightCol">
        <ul class="cardSelect_header-deck">
            <li class="cardSelect_header-deck-card"></li>
            <li class="cardSelect_header-deck-card"></li>
            <li class="cardSelect_header-deck-card"></li>
            <li class="cardSelect_header-deck-card"></li>
            <li class="cardSelect_header-deck-card"></li>
        </ul>
    </div>
</div>
<div class="cardSelect_content">
    <div class="cardSelect_content-confirm" style="display:none;">
        <ul class="cardSelect_content-confirm-choice">
            <li class="cardSelect_content-confirm-choice-yesBtn cardSelect_content-confirm-choice-element is--active">Let's start!</li>
            <li class="cardSelect_content-confirm-choice-noBtn cardSelect_content-confirm-choice-element">I'm not ready yet</li>
        </ul>
    </div>
    <div class="cardSelect_content-scroll">
        <div class="cardSelect_content-nav-prevBtn">
            <div class="cardSelect_content-nav-prevBtn-hoverFX"></div>
            <div class="arrow-left"></div>
        </div>
        <div class="cardSelect_content-nav-nextBtn">
            <div class="cardSelect_content-nav-nextBtn-hoverFX"></div>
            <div class="arrow-right"></div>
        </div>
        <ul class="cardSelect_content-album"></ul>
    </div>
</div>
