<div class="lounge_main">
    <div class="lounge_log">
        <div class="lounge_log-logo"></div>
        <div class="lounge_log-messages">
            <div class="lounge_log-messages-scroll">
                <div class="lounge_log-messages-message-user lounge_log-messages-message">
                    <div class="lounge_log-messages-message-user-avatar">
                        <div class="lounge_log-messages-message-user-avatar-img"></div>
                    </div>
                    <div class="lounge_log-messages-message-user-content">
                        <div class="lounge_log-messages-message-user-content-name">
                            <span></span>
                            <span class="lounge_log-messages-message-user-content-date"></span>
                        </div>
                        <div class="lounge_log-messages-message-user-content-text"></div>
                    </div>
                </div>
                <div class="lounge_log-messages-message-info lounge_log-messages-message"></div>
            </div>
        </div>
        <div class="lounge_log-chatbar">
            <textarea class="lounge_log-chatbar-input" placeholder="Say something"></textarea>
            <div class="lounge_log-chatbar-label">Send</div>   
        </div>
    </div>
    <div class="lounge_userlist">
        <div class="lounge_userlist-userCard" style="display:none;">
            <div class="lounge_userlist-userCard-header">
                <div class="lounge_userlist-userCard-header-avatar">
                    <div class="lounge_userlist-userCard-header-avatar-img"></div>
                </div>
                <div class="lounge_userlist-userCard-header-name"></div>
                <div class="lounge_userlist-userCard-header-userId"></div>
            </div>
            <div class="lounge_userlist-userCard-content">
                <ul class="lounge_userlist-userCard-content-menu">
                    <li class="lounge_userlist-userCard-content-menu-element lounge_userlist-userCard-content-menu-challengeBtn">Send a challenge</li>
                </ul>
            </div> 
        </div>
        <div class="lounge_userlist-scroll">
            <div class="lounge_userlist-element-group lounge_userlist-element group-all">
                <span class="weight-bold">Online</span><span class="lounge_userlist-element-group-count">0</span>
            </div>
            <div class="lounge_userlist-element-user lounge_userlist-element">
                <div class="lounge_userlist-element-user-avatar">
                    <div class="lounge_userlist-element-user-avatar-img"></div>
                </div>
                <div class="lounge_userlist-element-user-label">
                    <div class="lounge_userlist-element-user-label-name"></div>
                    <div class="lounge_userlist-element-user-label-action">
                        <span></span>
                        <span class="weight-bold"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lounge_notLoggedIn overlay screen">
        <h1 class="lounge_notLoggedIn-title">Please<span class="weight-bold"> login</span></h1>
        <p class="lounge_notLoggedIn-message">Your chat is currently offline.<br>Login or register to join the lounge room and challenge other players!</p>
        <div class="lounge_notLoggedIn-confirmBtn" style="display:none">Back</div>
    </div>
</div>
