<figure>
    <figcaption>
        <span class="weight-bold">1.</span> You can extend the gaming possibilities by playing with one or more of the following rules: Open (effective by default), Random, Elemental, Sudden Death, Same, Same Wall and Plus.<br><br>
        <span class="weight-medium">Open:</span> All five cards in each deck are made visible to both players.<br>
        <span class="weight-medium">Random:</span> Your deck will be chosen randomly from your card album.<br>
        <span class="weight-medium">Sudden Death:</span> Any match that ends in a draw will be restarted. Your deck for this new match will consist of the cards you had control over at the end of the previous round. The duel will end in a draw after 5 rounds.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">2.</span> <span class="weight-medium">Elemental:</span> One or more cases are randomly marked with an element. When an elemental card is placed on a corresponding element, each rank goes up a point. When any card is placed on a non-matching element, each rank goes down a point. Note that this also applies even if the card doesn't have an element.<br>
        The Element rule's bonuses and penalties do not affect the Same, Same Wall and Plus rules where the cards' original ranks apply.<br>
        <ul class="help_advancedRules-elements">
            <li class="help_advancedRules-elements-element element-fire">Fire</li>
            <li class="help_advancedRules-elements-element element-ice">Ice</li>
            <li class="help_advancedRules-elements-element element-water">Water</li>
            <li class="help_advancedRules-elements-element element-thunder">Thunder</li>
            <li class="help_advancedRules-elements-element element-rock">Rock</li>
            <li class="help_advancedRules-elements-element element-wind">Wind</li>
            <li class="help_advancedRules-elements-element element-poison">Poison</li>
            <li class="help_advancedRules-elements-element element-light">Light</li>
            <li class="help_advancedRules-elements-element element-dark">Dark</li>
        </ul>
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">3.</span> <span class="weight-medium">Same:</span> If the ranks of the card you place are the same as the ranks on the adjacent sides of two or more adjacent cards, you gain control of these cards. This allows the Combo rule: if a captured card is adjacent to another card whose rank is lower, this card is captured as well.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">4.</span> <span class="weight-medium">Same Wall:</span> An extension of the Same rule where the edges of the board are counted as A ranks.<br>
        This rule also allows for combos.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">5.</span> <span class="weight-medium">Plus:</span> If the ranks of the card you place have the same total when added to the ranks on the adjacent sides of two or more adjacent cards, you gain control of them. This rule also allows for combos.
    </figcaption>
</figure>
