<figure>
    <figcaption>
        <span class="weight-bold">1.</span> Based on the universe of Final Fantasy XV, The Fifteenth Triad is a dueling card game for two players based on Final Fantasy VIII's Triple Triad; the rules are essentially the same.<br><br>
        On the left is what a Fifteenth Triad card looks like. In the top left corner of the card, you can find the rank of the card on each side. Ranks go from 1 to A (10). For example, this card has a rank of A on top, 5 on the right, 9 on bottom and 4 on the left. In the top right corner, you find the card's element if it has one, here it's Light. The elements, only effective if the Element rule is on, are: Fire, Ice, Water, Thunder, Rock, Wind, Poison, Light and Dark (see the Advanced rules guide).
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">2.</span> The two players take turns placing cards on the three-by-three grid.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">3.</span> The player who goes first is decided at random.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">4.</span> When it's your turn, you must place a card on one of the open spaces on the grid.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">5.</span> When a card is placed, the numbers representing its four ranks are compared to any adjacent cards.<br>
        If a rank on the card placed is greater than the rank it faces on an adjacent card, you will flip that card and capture it.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">6.</span> The goal is to capture and control more cards than your opponent.<br>
        When the board is filled, the player who controls more cards is the winner.<br><br>
        Depending on the Trade rule in effect, you may choose one or more cards from your opponent's deck.<br>
        Challenge the computer at different levels of difficulty and win against other players to complete your card collection!
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">7.</span>You may select one of the following Trade rules: None, One, Difference, Direct and All.<br><br>
        <span class="weight-medium">None:</span> A friendly match.<br><br>
        <span class="weight-medium">One:</span> The winner chooses a card from the loser's deck.<br>
        You and your opponent must have at least 6 cards to choose this trade mode.<br><br>
        <span class="weight-medium">Difference:</span> The winner chooses one card per score difference (2, 4, or 5).<br>
        You and your opponent must have at least 11 cards to choose this trade mode.<br><br>
        <span class="weight-medium">Direct:</span> The players take the cards they have captured at the end of the duel.<br>
        This also applies in case of a draw. You must have at least 11 cards to choose this trade mode.<br><br>
        <span class="weight-medium">All:</span> The winner takes the loser's deck.<br>
        You and your opponent must have at least 11 cards to choose this trade mode.
    </figcaption>
</figure>
