<div class="footer_logo" style="display:none;" data-gamepad="true"></div>
<ul class="footer_menu">
    <li class="footer_menu-homeBtn footer_menu-element" style="display:none;" data-gamepad="true">Home</li>
    <li class="footer_menu-menuBtn footer_menu-element" style="display:none;" data-gamepad="true">Menu</li>
    <li class="footer_menu-rankingsBtn footer_menu-element" style="display:none;" data-gamepad="true">Rankings</li>
    <li class="footer_menu-helpBtn footer_menu-element" style="display:none;" data-gamepad="true">Help</li>
    <li class="footer_menu-aboutBtn footer_menu-element" style="display:none;" data-gamepad="true">About</li>
</ul>
<ul class="footer_social">
    <li class="footer_social-fbBtn footer_social-element" style="display:none;" data-gamepad="true">
        <div class="footer_social-element-hoverFX"></div>
        <i class="footer_social-icon socicon-facebook"></i>
    </li>
    <li class="footer_social-ttBtn footer_social-element" style="display:none;" data-gamepad="true">
        <div class="footer_social-element-hoverFX"></div>
        <i class="footer_social-icon socicon-twitter"></i>
    </li>
    <li class="footer_social-rdtBtn footer_social-element" style="display:none;" data-gamepad="true">
        <div class="footer_social-element-hoverFX"></div>
        <i class="footer_social-icon socicon-reddit"></i>
    </li>
    <li class="footer_social-tbrBtn footer_social-element" style="display:none;" data-gamepad="true">
        <div class="footer_social-element-hoverFX"></div>
        <i class="footer_social-icon socicon-tumblr"></i>
    </li>
</ul>
<div class="footer_text" style="display:none;">
    <span class="fontsize-small">Inspired by</span>FINAL FANTASY XV
</div>
