<div class="rulesSelect_header" style="display:none;">
    <div class="rulesSelect_header-leftCol">
        <h1 class="rulesSelect_header-title">
            <span class="weight-bold">Rules</span><br>
            selection
        </h1>
        <hr>
    </div>
</div>
<div class="rulesSelect_content">
    <div class="rulesSelect_content-screenNav">
        <ul class="rulesSelect_content-screenNav-choice">
            <li class="rulesSelect_content-screenNav-choice-backBtn rulesSelect_content-screenNav-choice-element">Back</li>
            <li class="rulesSelect_content-screenNav-choice-nextBtn rulesSelect_content-screenNav-choice-element">Next</li>
        </ul>
    </div>
    <div class="rulesSelect_content-rules">
        <div class="col">
            <div class="rulesSelect_content-rules-rule rule-open">
                <div class="rulesSelect_content-rules-rule-label">Open</div>
                <div class="rulesSelect_content-rules-rule-toggle">- -</div>
            </div>
            <div class="rulesSelect_content-rules-rule rule-random">
                <div class="rulesSelect_content-rules-rule-label">Random</div>
                <div class="rulesSelect_content-rules-rule-toggle">- -</div>
            </div>
            <div class="rulesSelect_content-rules-rule rule-elemental">
                <div class="rulesSelect_content-rules-rule-label">Elemental</div>
                <div class="rulesSelect_content-rules-rule-toggle">- -</div>
            </div>
            <div class="rulesSelect_content-rules-rule rule-trade">
                <ul class="rulesSelect_content-rules-rule-select">
                    <li class="tradeRule-none">Trade Rule -- None</li>
                    <li class="tradeRule-one">Trade Rule -- One</li>
                    <li class="tradeRule-difference">Trade Rule -- Difference</li>
                    <li class="tradeRule-direct">Trade Rule -- Direct</li>
                    <li class="tradeRule-all">Trade Rule -- All</li>
                </ul>
                <div class="rulesSelect_content-rules-rule-toggle"></div>
            </div>
        </div>
        <div class="col">
            <div class="rulesSelect_content-rules-rule rule-same">
                <div class="rulesSelect_content-rules-rule-label">Same</div>
                <div class="rulesSelect_content-rules-rule-toggle">- -</div>
            </div>
            <div class="rulesSelect_content-rules-rule rule-sameWall">
                <div class="rulesSelect_content-rules-rule-label">Same Wall</div>
                <div class="rulesSelect_content-rules-rule-toggle">- -</div>
            </div>
            <div class="rulesSelect_content-rules-rule rule-suddenDeath">
                <div class="rulesSelect_content-rules-rule-label">Sudden Death</div>
                <div class="rulesSelect_content-rules-rule-toggle">- -</div>
            </div>
            <div class="rulesSelect_content-rules-rule rule-plus">
                <div class="rulesSelect_content-rules-rule-label">Plus</div>
                <div class="rulesSelect_content-rules-rule-toggle">- -</div>
            </div>
        </div>
    </div>
</div>
