<figure>
    <figcaption>
        <span class="weight-bold">1.</span> In the main menu, select "Solo Mode". You can also click the start button on the title screen.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">2.</span> Select the rules you want to play with by toggle them, or choosing them in the dropdown menu ("Trade" rule only).<br>Click "Next" to confirm your choice. You can click "Next" right away to play with the default rules.<br><br>
        Note: Selecting the "Random" rule will skip the card selection screen as your deck will be built automatically from the cards you own.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">3.</span> Drag and drop your cards into your deck to build it. You can reorder your deck if you want to.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">4.</span> Once you have selected five cards, you will be prompted to confirm your choice. Click "Let's start!" to start the game.
    </figcaption>
</figure>
