    <div class="cardSelect_header">
        <div class="cardSelect_header-leftCol">
            <h1 class="cardSelect_header-title">
                <span class="weight-bold">Choose</span>
                <span>your cards</span>
            </h1>
            <hr>
            <div class="colWrapper">
                <div class="col11">Owned cards</div>
                <div class="col12 color-darkGrey"><%= ownedCardsString %></div>
            </div>
        </div>
        <div class="cardSelect_header-rightCol">
            <ul class="cardSelect_header-deck">
                <li class="cardSelect_header-card"></li>
                <li class="cardSelect_header-card"></li>
                <li class="cardSelect_header-card"></li>
                <li class="cardSelect_header-card"></li>
                <li class="cardSelect_header-card"></li>
            </ul>
        </div>
    </div>
    <div class="cardSelect_content">
        <div class="cardSelect_content-confirm">
            <ul class="cardSelect_content-confirm-choice">
                <li class="cardSelect_content-confirm-yes">Let's start!</li>
                <li class="cardSelect_content-confirm-no">I'm not ready yet</li>
            </ul>
        </div>
        <div class="cardSelect_content-scroll">
            <div class="cardSelect_content-nav-prev">
                <div class="cardSelect_content-nav-prev-hoverFX"></div>
                <div class="arrow-left"></div>
            </div>
            <div class="cardSelect_content-nav-next">
                <div class="cardSelect_content-nav-next-hoverFX"></div>
                <div class="arrow-right"></div>
            </div>
            <ul class="cardSelect_content-collection">
                <li class="cardSelect_content-card"></li>
            </ul>
        </div>
    </div>
