<div class="help_header" style="display:none;">
    <div class="help_header-leftCol">
        <h1 class="help_header-title">
            <span class="weight-bold">Help</span><span class="help_header-title-topicName"></span>
        </h1>
        <hr>
        <p class="help_header-help"></p>
    </div>
</div>
<div class="help_content">
    <div class="help_content-screenNav" style="display:none;">
        <ul class="help_content-screenNav-choice">
            <li class="help_content-screenNav-choice-backBtn help_content-screenNav-choice-element">Back</li>
        </ul>
    </div>
    <div class="help_content-topics">
        <div class="col">
            <div class="help_content-topics-topic topic-basicRules">
                <div class="help_content-topics-topic-label">Basic rules</div>
            </div>
            <div class="help_content-topics-topic is--disabled">
                <div class="help_content-topics-topic-label"></div>
            </div>
            <div class="help_content-topics-topic is--disabled">
                <div class="help_content-topics-topic-label"></div>
            </div>
            <div class="help_content-topics-topic is--disabled">
                <div class="help_content-topics-topic-label"></div>
            </div>
        </div>
        <div class="col">
            <div class="help_content-topics-topic is--disabled">
                <div class="help_content-topics-topic-label"></div>
            </div>
            <div class="help_content-topics-topic is--disabled">
                <div class="help_content-topics-topic-label"></div>
            </div>
            <div class="help_content-topics-topic is--disabled">
                <div class="help_content-topics-topic-label"></div>
            </div>
            <div class="help_content-topics-topic is--disabled">
                <div class="help_content-topics-topic-label"></div>
            </div>
        </div>
    </div>
    <div class="help_content-guide" style="display:none;">
        <div class="help_content-guide-contents"></div>
    </div>
</div>
