<figure>
    <figcaption>
        <span class="weight-bold">1.</span> On the title screen, login or create an account to gain access the Lounge Room.
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">2.</span> In the main menu, select "Lounge Room".
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">3.</span> Click the name of the player you wish to duel in the player list, then select "Send a challenge".
    </figcaption>
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">4.</span> The player will receive a challenge request notification from you.
</figure>
<figure>
    <figcaption>
        <span class="weight-bold">5.</span> Once they accept, you will be able to choose the duel's rules, your cards, and start playing!<br>
        Each duel in the Lounge Room is ranked, unless the selected Trade rule is "None" (see the "Rankings" guide).
    </figcaption>
</figure>
