<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Fifteenth Triad -- Page Not Found</title>
        <!-- build:css css/build.min.css -->
        <!--<link rel="stylesheet" href="css/main.css">-->
        <!-- endbuild -->
    </head>
    <body class="notfound">
        <div class="notfound_img"><a class="notfound_redirectLink"></a></div>
        <script type="text/javascript">
            var redirectLink  = document.querySelector(".notfound_redirectLink");
            redirectLink.href = document.location.origin;
            redirectLink.addEventListener("click", function () {
                ga("send", "event", {
                    eventCategory: "404Event",
                    eventAction: "clickRedirect"
                });
            });

            //===============================
            // GOOGLE ANALYTICS
            //===============================
            (function(b,o,i,l,e,r){
                b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src="//www.google-analytics.com/analytics.js";
                r.parentNode.insertBefore(e,r);
            }(window,document,"script","ga"));
            ga("create","UA-89445990-1");
            ga("send","pageview");
            ga("send", "event", {
                eventCategory: "error",
                eventAction: "Page Not Found",
                eventLabel: document.location
            });
        </script>
    </body>
</html>
