/*=======================*/
/* ABOUT SCREEN
/*=======================*/
#screen_overlayAbout {
    z-index: 3;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.is--showingLogo {
        & .about_line {
            -webkit-clip-path: polygon(
                0px 1px,
                calc(50% - 220px / 2) 1px,
                calc(50% - 220px / 2) 0px,
                calc(50% + 260px / 2) 0px,
                calc(50% + 260px / 2) 1px,
                100% 1px,
                100% 0px,
                0px 0px
            );
        }
    }
}

.about_bg {
    @extend %altBG;
}

.about_header {
    height: 33.3333%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: $globalPadding * 2;
    justify-content: center;
}

.about_line {
    background: #FFF;
    width: 100%;
    height: 1px;
    position: absolute;
    left:0;
    top:calc(50% + 82px);

    transform: translate3d(0, 0, 0);
}

.about_logo {
    @extend %smallLogo;
    width: 285px;
    height: 220px;
}

.about_content {
    @include remainingSpace();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $globalPadding;
    text-align: center;
}

.about_credits {
    @extend %btn-rect;
    position: relative;
    display: inline-block;
    margin-top:1em;
}

.about_legal {
    margin:2em 0;
    line-height: 1.25em;

    & a {
        position: relative;
        color: $color_lightBlue;
        z-index: 0;
        transition: color .4s;

        &:before {
            content    : "";
            position   : absolute;
            width      : 0;
            height     : 1px;
            background : currentColor;
            top        : 1.25em;
            z-index    : -1;
            opacity    : 0.5;

            transition: width .2s .2s;
        }

        &:hover, &.is--hover {
            color: $color_red;

            &:before { width: 100%; }
        }
    }
}

.about_social {
    @extend %socialIcons;
    font-size: 1.5em;

    &-element {
        @extend %socialIcons-element;
        margin-right: 1.5em;

        &-hoverFX {
            @extend %socialIcons-element-hoverFX;
        }
    }

    &-icon {
        @extend %socialIcons-icon;
    }
}

.about_prevBtn {
    @extend %btn-diamond-text;
    position: relative;
    margin-top: $globalPadding;

    &:after {
        content:"Back";
    }

    &-hoverFX {
        @extend %btn-diamond-text-hoverFX;
    }
}

.about_playersCount {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.about_info {
    position: absolute;
    right: $globalPadding;
    bottom: $globalPadding;

    &-volume {
      @extend %volumeIcon;
    }
}
