<div class="loading_bg"></div>
<div class="loading_content">
    <div class="loading_wrapper">
        <div class="loading_logo"></div>
        <h1 class="loading_text">
            Now <span class="weight-bold">loading</span>
        </h1>
    </div>
    <div class="loading_line"></div>
</div>
