<div class="loading_bg"></div>
<div class="loading_content">
    <div class="loading_wrapper">
        <div class="loading_logo"></div>
        <h1 class="loading_text">
            Now <span class="weight-bold">loading</span>
        </h1>
        <h2 class="loading_disclaimer">
            Please turn your speakers on | Best view with Chrome on desktop | Made with <i class="fa fa-heart" aria-hidden="true"></i> by a fan
        </h2>
    </div>
    <div class="loading_line"></div>
</div>
